Docs/Bitacora/Carril_C/Portal_frontend_parche/portal-a26-disponibilidad__OPS.json
{
  "name": "portal-a26-disponibilidad__OPS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portal-a26-disponibilidad__OPS",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "a26e0001-ac11-4f0e-8ab0-d34ce113a064",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// portal-a26-disponibilidad__OPS -- validar_firma_ts_rol (LECTURA / A26).\n// Molde a05/a08: HMAC-SHA256 sobre los bytes EXACTOS del raw body (D-C-29), comparacion\n// timing-safe, ventana ts +-300s, raw body binario con fallback rawBody (L-C-05), secreto\n// por $vars con assert por prefijo __PEGAR_ (Modo B, L-C-10). A26:\n//   - EXPECTED_ACTION = 'disponibilidad.cabana'. Roles vicky/socio (D-C-39, 2da defensa).\n//   - payload REJECT-UNKNOWN: id_cabana OBLIGATORIO (safe int > 0; bloqueo total NO se expone),\n//     fecha_desde/fecha_hasta YMD reales con hasta > desde, span <= 366 dias.\n//   - NO resuelve \"no fechas pasadas\" (guard UX en el frontend) ni existencia de cabana\n//     (eso es el pre-check SQL). Sin actor (lectura).\nconst crypto = require('crypto');\n\nconst SECRET = (typeof $vars !== 'undefined' && $vars && $vars.VITA_HMAC_SECRET)\n  ? $vars.VITA_HMAC_SECRET\n  : '__PEGAR_SECRETO_O_USAR_VARIABLE__';\nif (!SECRET || SECRET.startsWith('__PEGAR_')) {\n  throw new Error('VITA_HMAC_SECRET no configurado (assert por prefijo, L-C-10).');\n}\n\nconst ROLES_OK = ['vicky', 'socio'];\nconst EXPECTED_ACTION = 'disponibilidad.cabana';\nconst SPAN_MAX_DIAS = 366;\n\nfunction rej(motivo, body) {\n  body = body || {};\n  return [{ json: { ok_firma: false, motivo,\n    ambiente_esperado: body.ambiente_esperado ?? null, rol: body.rol ?? null,\n    action: body.action ?? null, ts: (typeof body.ts !== 'undefined' ? body.ts : null),\n    payload_norm: null } }];\n}\n\nconst item = $input.first();\nconst wh = item.json;\n\n// 1) Raw body Buffer exacto (binario 'data' prioridad; fallback rawBody, L-C-05).\nlet buf = null;\ntry { if (item.binary && item.binary.data) buf = await this.helpers.getBinaryDataBuffer(0, 'data'); } catch (e) { buf = null; }\nif (!buf) {\n  const rawField = wh.rawBody;\n  if (Buffer.isBuffer(rawField)) buf = rawField;\n  else if (rawField && rawField.type === 'Buffer' && Array.isArray(rawField.data)) buf = Buffer.from(rawField.data);\n  else if (typeof rawField === 'string') buf = Buffer.from(rawField, 'utf8');\n}\nif (!buf) return rej('raw_body_ausente', {});\n\n// 2-4) HMAC recomputado sobre los mismos bytes, comparacion timing-safe.\nconst headers = wh.headers || {};\nconst sigHeader = headers['x-vita-signature'] || headers['X-Vita-Signature'] || '';\nconst expected = 'sha256=' + crypto.createHmac('sha256', SECRET).update(buf).digest('hex');\nlet firmaOk = false;\ntry { const a = Buffer.from(sigHeader); const b = Buffer.from(expected); firmaOk = a.length === b.length && crypto.timingSafeEqual(a, b); } catch (e) { firmaOk = false; }\nif (!firmaOk) return rej('firma_invalida', {});\n\n// 5) Parseo (firma ya validada sobre bytes crudos).\nlet body;\ntry { body = JSON.parse(buf.toString('utf8')); } catch (e) { return rej('payload_invalido', {}); }\n\n// 6) Ventana de ts (anti-replay liviano, D-C-29): |now - ts| <= 300s.\nconst ts = Number(body.ts);\nif (!Number.isFinite(ts) || Math.abs(Date.now() - ts) > 300000) return rej('ts_fuera_de_ventana', body);\n\n// 7) Allowlist de rol del wrapper (D-C-39). A26 = vicky/socio (sin jenny, D-C-03).\nif (!ROLES_OK.includes(body.rol)) return rej('rol_no_permitido', body);\n// 8) Action binding (D-C-41).\nif (body.action !== EXPECTED_ACTION) return rej('accion_desconocida', body);\n\n// 9) Payload de negocio: REJECT-UNKNOWN + tipos estrictos.\nconst p = body.payload;\nif (!p || typeof p !== 'object' || Array.isArray(p)) return rej('payload_invalido', body);\nconst PERMITIDAS = ['id_cabana', 'fecha_desde', 'fecha_hasta'];\nfor (const k of Object.keys(p)) { if (!PERMITIDAS.includes(k)) return rej('payload_invalido', body); }\n\n// id_cabana: entero positivo seguro OBLIGATORIO (bloqueo total NO se expone en el portal).\nif (typeof p.id_cabana !== 'number' || !Number.isSafeInteger(p.id_cabana) || p.id_cabana <= 0) return rej('payload_invalido', body);\n\n// fechas: YMD reales (round-trip UTC rechaza 2027-02-30, etc.).\nfunction isYMD(s) {\n  if (typeof s !== 'string' || !/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return false;\n  const Y = +s.slice(0, 4), M = +s.slice(5, 7), D = +s.slice(8, 10);\n  if (M < 1 || M > 12 || D < 1 || D > 31) return false;\n  const dt = new Date(Date.UTC(Y, M - 1, D));\n  return dt.getUTCFullYear() === Y && dt.getUTCMonth() === M - 1 && dt.getUTCDate() === D;\n}\nif (!isYMD(p.fecha_desde) || !isYMD(p.fecha_hasta)) return rej('payload_invalido', body);\n\n// fecha_hasta > fecha_desde (exclusive); comparacion lexicografica == cronologica para YMD.\nif (!(p.fecha_desde < p.fecha_hasta)) return rej('payload_invalido', body);\n\n// span (hasta - desde) en dias <= 366 (cota tecnica del Bloque 0; NO limita futuro a 120).\nconst MS_DIA = 86400000;\nconst desdeMs = Date.UTC(+p.fecha_desde.slice(0, 4), +p.fecha_desde.slice(5, 7) - 1, +p.fecha_desde.slice(8, 10));\nconst hastaMs = Date.UTC(+p.fecha_hasta.slice(0, 4), +p.fecha_hasta.slice(5, 7) - 1, +p.fecha_hasta.slice(8, 10));\nconst span = Math.round((hastaMs - desdeMs) / MS_DIA);\nif (span > SPAN_MAX_DIAS) return rej('payload_invalido', body);\n\nconst payload_norm = { id_cabana: p.id_cabana, fecha_desde: p.fecha_desde, fecha_hasta: p.fecha_hasta };\n\nreturn [{ json: { ok_firma: true, motivo: null,\n  ambiente_esperado: body.ambiente_esperado ?? null, rol: body.rol ?? null,\n  action: body.action ?? null, ts, payload_norm } }];\n"
      },
      "id": "a26e0002-26b3-4b31-8cb0-e72aa826e7f6",
      "name": "validar_firma_ts_rol",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT valor FROM configuracion_general WHERE clave = 'ambiente'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_OPS",
          "name": "vita_supabase_ops (reemplazar al importar)"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "id": "a26e0003-982f-4e66-8362-88752ff5227a",
      "name": "leer_ambiente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// portal-a26-disponibilidad__OPS -- verificar_acceso. Compara ambiente (anti-OPS, D-C-35) y\n// arma el envelope de rechazo (D-C-18). En exito marca {ok:true} para habilitar el IF; el\n// envelope final de exito lo arma el render.\nconst v = $('validar_firma_ts_rol').first().json;\nconst ambItem = $('leer_ambiente').first();\nconst real = (ambItem && ambItem.json) ? (ambItem.json.valor ?? null) : null;\n\nfunction envErr(code, message, detail) {\n  return [{ json: { ok: false, error: { code, message, detail: detail ?? null } } }];\n}\n\nif (!v.ok_firma) {\n  const msgs = {\n    firma_invalida: 'firma HMAC invalida o ausente',\n    ts_fuera_de_ventana: 'timestamp fuera de la ventana permitida (300s)',\n    payload_invalido: 'payload invalido (id_cabana entero positivo; fecha_desde/fecha_hasta YMD con hasta>desde; span <= 366)',\n    raw_body_ausente: 'no llego el raw body (activa Raw Body en el Webhook)',\n    rol_no_permitido: 'rol no habilitado para esta accion',\n    accion_desconocida: 'accion no corresponde a este endpoint'\n  };\n  return envErr(v.motivo, msgs[v.motivo] || 'rechazado', null);\n}\n\nif (v.ambiente_esperado !== real) {\n  return envErr('ambiente_incorrecto', 'el sobre no corresponde a este entorno', { esperado: v.ambiente_esperado, real });\n}\n\nreturn [{ json: { ok: true } }];\n"
      },
      "id": "a26e0004-d1e9-424c-96e0-dc460a735a6e",
      "name": "verificar_acceso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a26cond-0ab4-414f-b120-141c8f082aec",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a26e0005-46d8-476f-b6a3-4e0da84da6b1",
      "name": "IF acceso",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH valida AS (\n  SELECT c.id_cabana\n  FROM cabanas c\n  WHERE c.id_cabana = (($1::jsonb)->>'id_cabana')::bigint\n    AND c.activa = TRUE\n),\nexiste AS (\n  SELECT EXISTS(SELECT 1 FROM valida) AS cabana_existe\n),\ndisp AS (\n  SELECT f.fecha, f.estado, f.id_cabana, f.hora_checkin_base, f.hora_checkout_base\n  FROM valida v\n  CROSS JOIN LATERAL obtener_disponibilidad_rango(\n    (($1::jsonb)->>'fecha_desde')::date,\n    (($1::jsonb)->>'fecha_hasta')::date,\n    v.id_cabana\n  ) AS f\n)\nSELECT e.cabana_existe, d.fecha, d.estado, d.id_cabana, d.hora_checkin_base, d.hora_checkout_base\nFROM existe e\nLEFT JOIN disp d ON TRUE\nORDER BY d.fecha NULLS LAST;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($('validar_firma_ts_rol').first().json.payload_norm) }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_OPS",
          "name": "vita_supabase_ops (reemplazar al importar)"
        }
      },
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "id": "a26e0007-ea7d-4aec-8501-12876fbbfaaf",
      "name": "PG: disponibilidad",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== portal-a26-disponibilidad__OPS -- render JSON (disponibilidad por cabana) =====\n// Read-only. La query UNICA con compuerta ya garantiza que la funcion canonica NO se\n// evaluo si la cabana no existe/inactiva (CTE valida vacio -> Function Scan never executed).\n// La query SIEMPRE devuelve >= 1 fila gracias al marcador explicito `cabana_existe`\n// (existe LEFT JOIN disp): cabana invalida/inactiva => 1 fila {cabana_existe:false, fecha:null}\n// => no_encontrado (NUNCA ok:true con dias:[]). Cabana activa => 1 fila por NOCHE de\n// [fecha_desde, fecha_hasta) (la funcion no incluye la fila de fecha_hasta), todas con\n// cabana_existe:true. Falla de lectura (DB/n8n) => error_interno limpio (D-C-18).\nfunction safeAll(nodeName, keyField) {\n  try {\n    const items = $(nodeName).all();\n    const failed = items.some(it => it && it.json && (it.json.error || it.error));\n    if (failed) return { ok: false, rows: [] };\n    const rows = items.map(it => it.json).filter(j => j && j[keyField] !== undefined && j[keyField] !== null);\n    return { ok: true, rows };\n  } catch (e) { return { ok: false, rows: [] }; }\n}\nfunction ymd(v) { if (v === null || v === undefined) return null; return String(v).slice(0, 10); }\nfunction esTrue(v) { return v === true || v === 't' || v === 'true' || v === 1; }\n\nconst r = safeAll('PG: disponibilidad', 'cabana_existe');\n\nif (!r.ok) {\n  return [{ json: { ok: false, error: { code: 'error_interno', message: 'no se pudo cargar la disponibilidad', detail: null } } }];\n}\n// La query siempre trae el marcador; si no vino ninguna fila, es anomalia de lectura.\nif (r.rows.length === 0) {\n  return [{ json: { ok: false, error: { code: 'error_interno', message: 'sin marcador de cabana', detail: null } } }];\n}\n\n// Marcador explicito: cabana inexistente/inactiva => no_encontrado. La funcion NO se evaluo.\nif (!esTrue(r.rows[0].cabana_existe)) {\n  return [{ json: { ok: false, error: { code: 'no_encontrado', message: 'cabana inexistente o inactiva', detail: null } } }];\n}\n\n// Cabana activa: dias = filas con fecha no nula (descarta el padding del LEFT JOIN).\nconst dias = r.rows\n  .filter(x => x.fecha !== null && x.fecha !== undefined)\n  .map(x => ({\n    fecha: ymd(x.fecha),\n    estado: x.estado,\n    id_cabana: (x.id_cabana !== undefined && x.id_cabana !== null) ? Number(x.id_cabana) : null,\n    hora_checkin_base: x.hora_checkin_base ?? null,\n    hora_checkout_base: x.hora_checkout_base ?? null\n  }));\n\nreturn [{ json: { ok: true, data: { dias } } }];\n"
      },
      "id": "a26e0008-a1b7-41a8-981f-af6a1669ac18",
      "name": "Code: render envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -150
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a26e0009-3ae3-4092-8665-8a38141773c5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1760,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "validar_firma_ts_rol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validar_firma_ts_rol": {
      "main": [
        [
          {
            "node": "leer_ambiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leer_ambiente": {
      "main": [
        [
          {
            "node": "verificar_acceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar_acceso": {
      "main": [
        [
          {
            "node": "IF acceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF acceso": {
      "main": [
        [
          {
            "node": "PG: disponibilidad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: disponibilidad": {
      "main": [
        [
          {
            "node": "Code: render envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: render envelope": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
