Workflows/n8n/Supabase/vita_w8c_html_operativo__TEMPLATE.json
{
  "name": "vita_w8c_html_operativo__TEST",
  "nodes": [
    {
      "parameters": {
        "path": "w8c-op-test",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f9e48b9d-81fa-43ff-a699-844ea97b227d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpBasicAuth": {
          "name": "CRED_BASIC_AUTH_OPERATIVO"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, fecha, estado, id_reserva_activa, hora_checkin_base, hora_checkout_base\nFROM vista_disponibilidad\nWHERE fecha >= CURRENT_DATE\n  AND fecha < CURRENT_DATE + INTERVAL '120 days'\nORDER BY id_cabana, fecha;",
        "options": {}
      },
      "id": "c34a7b38-28f6-497c-b448-0f3b0ce152e0",
      "name": "PG: leer grilla",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, id_reserva, fecha_checkin, fecha_checkout, hora_checkin, hora_checkout,\n       personas, estado_reserva, huesped_nombre, huesped_telefono, monto_total, monto_saldo\nFROM vista_calendario\nWHERE fecha_checkin < CURRENT_DATE + INTERVAL '120 days'\n  AND fecha_checkout > CURRENT_DATE\nORDER BY id_cabana, fecha_checkin;",
        "options": {}
      },
      "id": "a5a786cd-ddca-43d8-b0c0-37a855e3e47d",
      "name": "PG: leer detalle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_bloqueo, id_cabana, fecha_desde, fecha_hasta, motivo, descripcion\nFROM bloqueos\nWHERE activo = true\n  AND fecha_desde < CURRENT_DATE + INTERVAL '120 days'\n  AND fecha_hasta > CURRENT_DATE\nORDER BY fecha_desde;",
        "options": {}
      },
      "id": "2e18f68d-9f1a-4674-95f5-024d09a88e04",
      "name": "PG: leer bloqueos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.id_cabana, r.id_reserva, r.fecha_checkout, r.hora_checkout,\n       TRIM(BOTH FROM (h.nombre || ' ') || COALESCE(h.apellido, '')) AS huesped_nombre\nFROM reservas r\nJOIN huespedes h ON h.id_huesped = r.id_huesped\nWHERE r.estado IN ('confirmada','activa','completada')\n  AND r.fecha_checkout >= CURRENT_DATE\n  AND r.fecha_checkout < CURRENT_DATE + INTERVAL '120 days';",
        "options": {}
      },
      "id": "401b633b-974a-45a5-b2f7-8cb8e84afb7c",
      "name": "PG: leer salidas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===== vita_w8c_html_operativo__TEST — nodo Code (render) — v2.1 =====\nconst TZ = 'America/Argentina/Buenos_Aires';\nconst HORIZONTE_DIAS = 120;\n\nfunction esc(v) {\n  if (v === null || v === undefined) return '';\n  return String(v)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\n}\nfunction hhmm(t) { if (!t) return ''; const s = String(t); return s.length >= 5 ? s.slice(0, 5) : s; }\nfunction money(n) {\n  if (n === null || n === undefined || n === '') return '';\n  const num = Number(n); if (Number.isNaN(num)) return '';\n  return '$' + num.toLocaleString('es-AR', { maximumFractionDigits: 0 });\n}\nfunction primerNombre(full) { if (!full) return ''; return String(full).trim().split(/\\s+/)[0]; }\n\nfunction safeAll(nodeName, keyField) {\n  try {\n    const items = $(nodeName).all();\n    const failed = items.some(it => it && it.json && (it.json.error || it.error));\n    if (failed) return { ok: false, rows: [] };\n    const rows = items.map(it => it.json).filter(j => j && j[keyField] !== undefined && j[keyField] !== null);\n    return { ok: true, rows };\n  } catch (e) { return { ok: false, rows: [] }; }\n}\n\nconst gridR = safeAll('PG: leer grilla', 'id_cabana');\nconst resR  = safeAll('PG: leer detalle', 'id_reserva');\nconst blkR  = safeAll('PG: leer bloqueos', 'id_bloqueo');\nconst outR  = safeAll('PG: leer salidas', 'id_reserva');\nconst huboError = !gridR.ok || !resR.ok || !blkR.ok || !outR.ok;\n\nif (huboError) {\n  const htmlError = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\">'\n    + '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n    + '<title>Calendario operativo — Vita Delta</title>'\n    + '<style>body{font-family:system-ui,Arial,sans-serif;background:#f5f5f5;margin:0;padding:2rem;color:#333}'\n    + '.box{max-width:480px;margin:3rem auto;background:#fff;border-radius:12px;padding:2rem;text-align:center;box-shadow:0 1px 4px rgba(0,0,0,.1)}'\n    + 'h1{font-size:1.2rem;margin:0 0 .5rem}p{color:#666;line-height:1.5}</style></head>'\n    + '<body><div class=\"box\"><h1>No se pudo cargar el calendario</h1>'\n    + '<p>Hubo un problema temporal al obtener los datos. Reintentá en unos minutos.</p>'\n    + '<p>Si el problema persiste, avisá al equipo técnico.</p></div></body></html>';\n  return [{ json: { html: htmlError, statusCode: 503 } }];\n}\n\nconst ORDEN_CABANAS = [\n  { id: 1, nombre: 'Bamboo' }, { id: 2, nombre: 'Madre Selva' }, { id: 3, nombre: 'Arrebol' },\n  { id: 4, nombre: 'Guatemala' }, { id: 5, nombre: 'Tokio' },\n];\n\nconst dias = Array.from(new Set(gridR.rows.map(r => String(r.fecha)))).sort();\nconst primerDiaVisible = dias.length ? dias[0] : null;\n\nconst reservasPorCabana = {};\nfor (const r of resR.rows) (reservasPorCabana[r.id_cabana] = reservasPorCabana[r.id_cabana] || []).push(r);\n\nconst salidasPorCabana = {};\nconst vistosSalida = new Set();\nfunction pushSalida(idc, idr, fecha, hora, nombre) {\n  const k = String(idr);\n  if (vistosSalida.has(k)) return;\n  vistosSalida.add(k);\n  (salidasPorCabana[idc] = salidasPorCabana[idc] || []).push({ id_reserva: idr, fecha_checkout: fecha, hora_checkout: hora, huesped_nombre: nombre });\n}\nfor (const r of resR.rows) pushSalida(r.id_cabana, r.id_reserva, String(r.fecha_checkout), r.hora_checkout, r.huesped_nombre);\nfor (const s of outR.rows) pushSalida(s.id_cabana, s.id_reserva, String(s.fecha_checkout), s.hora_checkout, s.huesped_nombre);\n\nconst bloqueosEspecificos = {};\nconst bloqueosTotales = [];\nfor (const b of blkR.rows) {\n  if (b.id_cabana === null || b.id_cabana === undefined) bloqueosTotales.push(b);\n  else (bloqueosEspecificos[b.id_cabana] = bloqueosEspecificos[b.id_cabana] || []).push(b);\n}\n\nfunction reservasDeCabana(idc) { return reservasPorCabana[idc] || []; }\nfunction salidasDeCabana(idc) { return salidasPorCabana[idc] || []; }\nfunction entradaEseDia(idc, dia) { return reservasDeCabana(idc).find(r => String(r.fecha_checkin) === dia) || null; }\nfunction salidaEseDia(idc, dia) { return salidasDeCabana(idc).find(s => String(s.fecha_checkout) === dia) || null; }\nfunction ocupadaEseDia(idc, dia) {\n  return reservasDeCabana(idc).find(r =>\n    (String(r.fecha_checkin) <= dia && dia < String(r.fecha_checkout)) || String(r.fecha_checkout) === dia) || null;\n}\nfunction bloqueosQueCubren(idc, dia) {\n  const esp = (bloqueosEspecificos[idc] || []).filter(b => String(b.fecha_desde) <= dia && dia < String(b.fecha_hasta));\n  const tot = bloqueosTotales.filter(b => String(b.fecha_desde) <= dia && dia < String(b.fecha_hasta));\n  return esp.concat(tot);\n}\nfunction bordeBloqueoEseDia(idc, dia) {\n  const todos = (bloqueosEspecificos[idc] || []).concat(bloqueosTotales);\n  return todos.find(b => String(b.fecha_desde) === dia || String(b.fecha_hasta) === dia) || null;\n}\n\nfunction calcularCelda(idc, dia) {\n  const entra = entradaEseDia(idc, dia);\n  const sale = salidaEseDia(idc, dia);\n  const ocupa = ocupadaEseDia(idc, dia);\n  const bloqueosCubren = bloqueosQueCubren(idc, dia);\n  const bloqueado = bloqueosCubren.length > 0;\n  const borde = bordeBloqueoEseDia(idc, dia);\n  const hayMovimiento = !!(entra || sale);\n  const recambioHuesped = !!(entra && sale && entra.id_reserva !== sale.id_reserva);\n  const rojoBloqueoMov = !!(borde && hayMovimiento);\n  if (recambioHuesped || rojoBloqueoMov) return { color: 'rojo', sale, entra, borde, bloqueosCubren };\n  if (bloqueado) return { color: 'gris', bloqueosCubren };\n  if (ocupa) {\n    const inicioVisible = (String(ocupa.fecha_checkin) === dia) || (primerDiaVisible === dia && String(ocupa.fecha_checkin) < dia);\n    // Día de salida sin recambio (no hubo rojo porque nadie entra): mostrar \"Sale X · hora\".\n    // 'sale' aquí ya viene de salidasDeCabana (incluye completada). Si hay salida y no es inicio, es día de checkout.\n    const esSalida = !!sale && !inicioVisible;\n    return { color: 'verde', reserva: ocupa, esInicioVisible: inicioVisible, esSalida, sale };\n  }\n  return { color: 'blanco' };\n}\n\nconst COLORES = {\n  rojo: { bg: '#f8d2d2', label: 'Recambio / doble evento' },\n  gris: { bg: '#d9d9d9', label: 'Bloqueo' },\n  verde: { bg: '#cdeccd', label: 'Ocupado' },\n  blanco: { bg: '#ffffff', label: 'Libre' },\n};\n\nconst meses = {};\nfor (const dia of dias) (meses[dia.slice(0, 7)] = meses[dia.slice(0, 7)] || []).push(dia);\nconst NOMBRE_MES = { '01': 'Enero', '02': 'Febrero', '03': 'Marzo', '04': 'Abril', '05': 'Mayo', '06': 'Junio', '07': 'Julio', '08': 'Agosto', '09': 'Septiembre', '10': 'Octubre', '11': 'Noviembre', '12': 'Diciembre' };\n\nfunction contenidoCelda(idc, dia) {\n  const c = calcularCelda(idc, dia);\n  const bg = COLORES[c.color].bg;\n  let f1 = '', f2 = '', f3 = '';\n  if (c.color === 'verde' && c.esInicioVisible) {\n    const r = c.reserva;\n    f1 = esc(r.huesped_nombre) + ' · ' + esc(r.personas) + 'p · ' + hhmm(r.hora_checkin);\n    f2 = esc(r.huesped_telefono);\n    f3 = money(r.monto_total) + ' / saldo ' + money(r.monto_saldo);\n  } else if (c.color === 'verde' && c.esSalida) {\n    // Día de check-out sin recambio: solo \"Sale <nombre> · <hora>\"; filas 2-3 vacías\n    f1 = 'Sale ' + esc(primerNombre(c.sale.huesped_nombre)) + ' · ' + hhmm(c.sale.hora_checkout);\n  } else if (c.color === 'rojo') {\n    let arriba = '';\n    if (c.sale) arriba = 'Sale ' + esc(primerNombre(c.sale.huesped_nombre)) + ' · ' + hhmm(c.sale.hora_checkout);\n    else if (c.borde && String(c.borde.fecha_hasta) === dia) arriba = 'Fin bloqueo';\n    let abajo = '';\n    if (c.entra) {\n      abajo = 'Entra ' + esc(c.entra.huesped_nombre) + ' · ' + esc(c.entra.personas) + 'p · ' + hhmm(c.entra.hora_checkin);\n      f2 = esc(c.entra.huesped_telefono);\n      f3 = money(c.entra.monto_total) + ' / saldo ' + money(c.entra.monto_saldo);\n    } else if (c.borde && String(c.borde.fecha_desde) === dia) {\n      abajo = 'Inicio bloqueo · ' + esc(c.borde.motivo);\n    }\n    f1 = arriba && abajo ? (arriba + '<br>' + abajo) : (arriba || abajo);\n  } else if (c.color === 'gris') {\n    const b = c.bloqueosCubren[0];\n    const extra = c.bloqueosCubren.length > 1 ? ' (+)' : '';\n    f1 = esc(b ? b.motivo : 'bloqueo') + extra;\n  }\n  return { bg, f1, f2, f3 };\n}\n\n// Mes que contiene \"hoy\" (para pestaña activa por defecto). primerDiaVisible es hoy salvo borde.\nconst hoyYM = (primerDiaVisible || dias[0] || '').slice(0, 7);\nconst clavesMes = Object.keys(meses).sort();\n// Si hoyYM no está entre las claves (borde raro), uso la primera disponible\nconst mesActivo = clavesMes.indexOf(hoyYM) >= 0 ? hoyYM : (clavesMes[0] || '');\n\nlet secciones = '';\nlet pestanias = '';\nfor (const mk of clavesMes) {\n  const diasMes = meses[mk];\n  const parts = mk.split('-'); const anio = parts[0]; const mes = parts[1];\n  const activa = (mk === mesActivo);\n  const idMes = 'mes-' + mk;\n\n  // Pestaña\n  pestanias += '<button class=\"tab' + (activa ? ' tab-activa' : '') + '\" data-mes=\"' + idMes + '\" type=\"button\">'\n    + NOMBRE_MES[mes] + ' ' + anio + '</button>';\n\n  let thDias = '<th class=\"cab\">Cabaña</th>';\n  for (const d of diasMes) thDias += '<th class=\"dia\">' + d.slice(8, 10) + '</th>';\n  let cuerpo = '';\n  for (const cab of ORDEN_CABANAS) {\n    const celdas = diasMes.map(d => contenidoCelda(cab.id, d));\n    let tr1 = '<td class=\"cab\" rowspan=\"3\">' + esc(cab.nombre) + '</td>';\n    let tr2 = '', tr3 = '';\n    celdas.forEach(cel => {\n      tr1 += '<td class=\"cell f1\" style=\"background:' + cel.bg + '\">' + cel.f1 + '</td>';\n      tr2 += '<td class=\"cell f2\" style=\"background:' + cel.bg + '\">' + cel.f2 + '</td>';\n      tr3 += '<td class=\"cell f3\" style=\"background:' + cel.bg + '\">' + cel.f3 + '</td>';\n    });\n    cuerpo += '<tr class=\"r-huesped\">' + tr1 + '</tr><tr class=\"r-tel\">' + tr2 + '</tr><tr class=\"r-pago\">' + tr3 + '</tr>';\n  }\n  secciones += '<section class=\"mes\" id=\"' + idMes + '\"' + (activa ? '' : ' style=\"display:none\"') + '><h2>' + NOMBRE_MES[mes] + ' ' + anio + '</h2>'\n    + '<div class=\"scroll\"><table><thead><tr>' + thDias + '</tr></thead><tbody>' + cuerpo + '</tbody></table></div></section>';\n}\n\nconst ahora = new Intl.DateTimeFormat('es-AR', { timeZone: TZ, dateStyle: 'short', timeStyle: 'short' }).format(new Date());\nconst leyenda = Object.values(COLORES).map(c => '<span class=\"lg\"><span class=\"sw\" style=\"background:' + c.bg + '\"></span>' + c.label + '</span>').join('');\n\nconst html = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\">'\n  + '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n  + '<title>Calendario operativo — Vita Delta</title>'\n  + '<style>'\n  + 'body{font-family:system-ui,Arial,sans-serif;margin:0;padding:1rem;background:#fafafa;color:#222}'\n  + 'h1{font-size:1.3rem;margin:.2rem 0}'\n  + '.info{color:#666;font-size:.8rem;margin-bottom:.8rem}'\n  + '.leyenda{margin:.5rem 0 1rem;font-size:.8rem}'\n  + '.lg{margin-right:1rem;white-space:nowrap}.sw{display:inline-block;width:14px;height:14px;border:1px solid #aaa;vertical-align:middle;margin-right:4px}'\n  + '.mes{margin-bottom:1.5rem}.mes h2{font-size:1rem;margin:.5rem 0}'\n  + '.tabs{display:flex;flex-wrap:wrap;gap:.4rem;margin:.6rem 0 1rem}'\n  + '.tab{font-family:inherit;font-size:.85rem;padding:.4rem .8rem;border:1px solid #ccc;border-radius:8px;background:#fff;color:#333;cursor:pointer}'\n  + '.tab:hover{background:#f0f0f0}'\n  + '.tab-activa{background:#225;color:#fff;border-color:#225;font-weight:bold}'\n  + '.scroll{overflow-x:auto;border:1px solid #ddd;border-radius:8px}'\n  + 'table{border-collapse:collapse;font-size:.7rem;min-width:100%}'\n  + 'th,td{border:1px solid #e0e0e0;padding:2px 4px;text-align:center;vertical-align:middle}'\n  + 'th.dia{min-width:78px}'\n  + 'td.cab,th.cab{position:sticky;left:0;background:#f0f0f0;font-weight:bold;text-align:left;min-width:90px;z-index:1}'\n  + '.cell{min-width:78px;font-size:.65rem;line-height:1.15;height:18px}'\n  + '.r-huesped .f1{font-weight:bold}'\n  + '.r-pago .f3{color:#225}'\n  + '</style></head>'\n  + '<body>'\n  + '<h1>Calendario operativo — Complejo Vita Delta</h1>'\n  + '<div class=\"info\">Datos al ' + esc(ahora) + ' · horizonte ' + HORIZONTE_DIAS + ' días · TEST</div>'\n  + '<div class=\"leyenda\">' + leyenda + '</div>'\n  + '<div class=\"tabs\">' + pestanias + '</div>'\n  + secciones\n  + '<script>'\n  + '(function(){'\n  + 'var tabs=document.querySelectorAll(\".tab\");'\n  + 'function mostrar(idMes){'\n  + 'var secs=document.querySelectorAll(\"section.mes\");'\n  + 'for(var i=0;i<secs.length;i++){secs[i].style.display=(secs[i].id===idMes)?\"\":\"none\";}'\n  + 'for(var j=0;j<tabs.length;j++){'\n  + 'if(tabs[j].getAttribute(\"data-mes\")===idMes){tabs[j].classList.add(\"tab-activa\");}'\n  + 'else{tabs[j].classList.remove(\"tab-activa\");}}'\n  + '}'\n  + 'for(var k=0;k<tabs.length;k++){'\n  + 'tabs[k].addEventListener(\"click\",function(){mostrar(this.getAttribute(\"data-mes\"));});'\n  + '}'\n  + '})();'\n  + '</script>'\n  + '</body></html>';\n\nreturn [{ json: { html, statusCode: 200 } }];"
      },
      "id": "3d27a066-115c-478d-9b12-b87a2526bfbc",
      "name": "Code: render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "fd6583ef-d13c-4dc2-aa66-ad6b39690147",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PG: leer grilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer grilla": {
      "main": [
        [
          {
            "node": "PG: leer detalle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer detalle": {
      "main": [
        [
          {
            "node": "PG: leer bloqueos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer bloqueos": {
      "main": [
        [
          {
            "node": "PG: leer salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer salidas": {
      "main": [
        [
          {
            "node": "Code: render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: render HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "tags": []
}