Workflows/n8n/Supabase/vita_w8c_html_limpieza__TEMPLATE.json
{
  "name": "vita_w8c_html_limpieza__TEST",
  "nodes": [
    {
      "parameters": {
        "path": "w8c-limp-test",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "73b7bbc2-0929-4d8d-a26f-a61b24c031d5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpBasicAuth": {
          "name": "CRED_BASIC_AUTH_LIMPIEZA"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, fecha, estado, id_reserva_activa, hora_checkin_base, hora_checkout_base\nFROM vista_disponibilidad\nWHERE fecha >= CURRENT_DATE\n  AND fecha < CURRENT_DATE + INTERVAL '7 days'\nORDER BY id_cabana, fecha;",
        "options": {}
      },
      "id": "8b87bbd4-47b8-4f89-8c0e-ec63610ce4d1",
      "name": "PG: leer grilla",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, id_reserva, fecha_checkin, fecha_checkout, hora_checkin, hora_checkout,\n       personas, estado_reserva, huesped_nombre, huesped_telefono\nFROM vista_calendario\nWHERE fecha_checkin < CURRENT_DATE + INTERVAL '7 days'\n  AND fecha_checkout > CURRENT_DATE\nORDER BY id_cabana, fecha_checkin;",
        "options": {}
      },
      "id": "1fe9db4d-ab00-4e30-9047-4090559a871d",
      "name": "PG: leer detalle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_bloqueo, id_cabana, fecha_desde, fecha_hasta, motivo, descripcion\nFROM bloqueos\nWHERE activo = true\n  AND fecha_desde < CURRENT_DATE + INTERVAL '7 days'\n  AND fecha_hasta > CURRENT_DATE\nORDER BY fecha_desde;",
        "options": {}
      },
      "id": "341f8f0f-e421-4830-87ee-481395cd1f70",
      "name": "PG: leer bloqueos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.id_cabana, r.id_reserva, r.fecha_checkout, r.hora_checkout,\n       TRIM(BOTH FROM (h.nombre || ' ') || COALESCE(h.apellido, '')) AS huesped_nombre\nFROM reservas r\nJOIN huespedes h ON h.id_huesped = r.id_huesped\nWHERE r.estado IN ('confirmada','activa','completada')\n  AND r.fecha_checkout >= CURRENT_DATE\n  AND r.fecha_checkout < CURRENT_DATE + INTERVAL '7 days';",
        "options": {}
      },
      "id": "6e9bd608-493e-4b6a-b159-bd58848387a7",
      "name": "PG: leer salidas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, fecha_movimiento, tipo_movimiento, cabana, hora, personas,\n       huesped, huesped_telefono, mascotas, detalle_mascotas, notas_reserva\nFROM vista_limpieza_semana\nORDER BY fecha_movimiento, hora;",
        "options": {}
      },
      "id": "f8df6b0f-f58f-4e41-82bf-00162790a080",
      "name": "PG: leer limpieza",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        0
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "name": "CRED_POSTGRES_TEST"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===== vita_w8c_html_limpieza__TEST — nodo Code (render) — v2 (camino 2) =====\n// Solo lectura. Limpieza (Jennifer): 7 días, SIN montos. Motor del operativo filtrado\n// + cruce con vista_limpieza_semana para mascotas/notas.\n// Paleta: rojo > gris > amarillo (salida) > verde (entrada/ocupado) > blanco.\n\nconst TZ = 'America/Argentina/Buenos_Aires';\nconst DIAS_VENTANA = 7;\n\nfunction esc(v) {\n  if (v === null || v === undefined) return '';\n  return String(v)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\n}\nfunction hhmm(t) { if (!t) return ''; const s = String(t); return s.length >= 5 ? s.slice(0, 5) : s; }\nfunction primerNombre(full) { if (!full) return ''; return String(full).trim().split(/\\s+/)[0]; }\n// Normaliza cualquier fecha (date o timestamp '2026-06-01T00:00:00.000Z') a 'YYYY-MM-DD'\nfunction ymd(v) { if (v === null || v === undefined) return ''; return String(v).slice(0, 10); }\n\nfunction safeAll(nodeName, keyField) {\n  try {\n    const items = $(nodeName).all();\n    const failed = items.some(it => it && it.json && (it.json.error || it.error));\n    if (failed) return { ok: false, rows: [] };\n    const rows = items.map(it => it.json).filter(j => j && j[keyField] !== undefined && j[keyField] !== null);\n    return { ok: true, rows };\n  } catch (e) { return { ok: false, rows: [] }; }\n}\n\nconst gridR = safeAll('PG: leer grilla', 'id_cabana');     // vista_disponibilidad (7 dias)\nconst resR  = safeAll('PG: leer detalle', 'id_reserva');   // vista_calendario (SIN montos seleccionados)\nconst blkR  = safeAll('PG: leer bloqueos', 'id_bloqueo');  // bloqueos\nconst outR  = safeAll('PG: leer salidas', 'id_reserva');   // salidas (incluye completada)\nconst limpR = safeAll('PG: leer limpieza', 'id_cabana');   // vista_limpieza_semana (mascotas/notas)\nconst huboError = !gridR.ok || !resR.ok || !blkR.ok || !outR.ok || !limpR.ok;\n\nif (huboError) {\n  const htmlError = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\">'\n    + '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n    + '<title>Calendario de limpieza — Vita Delta</title>'\n    + '<style>body{font-family:system-ui,Arial,sans-serif;background:#f5f5f5;margin:0;padding:2rem;color:#333}'\n    + '.box{max-width:480px;margin:3rem auto;background:#fff;border-radius:12px;padding:2rem;text-align:center;box-shadow:0 1px 4px rgba(0,0,0,.1)}'\n    + 'h1{font-size:1.2rem;margin:0 0 .5rem}p{color:#666;line-height:1.5}</style></head>'\n    + '<body><div class=\"box\"><h1>No se pudo cargar el calendario</h1>'\n    + '<p>Hubo un problema temporal al obtener los datos. Reintentá en unos minutos.</p>'\n    + '<p>Si el problema persiste, avisá al equipo.</p></div></body></html>';\n  return [{ json: { html: htmlError, statusCode: 503 } }];\n}\n\nconst ORDEN_CABANAS = [\n  { id: 1, nombre: 'Bamboo' }, { id: 2, nombre: 'Madre Selva' }, { id: 3, nombre: 'Arrebol' },\n  { id: 4, nombre: 'Guatemala' }, { id: 5, nombre: 'Tokio' },\n];\n\nconst dias = Array.from(new Set(gridR.rows.map(r => ymd(r.fecha)))).sort();\nconst primerDiaVisible = dias.length ? dias[0] : null;\n\nconst reservasPorCabana = {};\nfor (const r of resR.rows) (reservasPorCabana[r.id_cabana] = reservasPorCabana[r.id_cabana] || []).push(r);\n\nconst salidasPorCabana = {};\nconst vistosSalida = new Set();\nfunction pushSalida(idc, idr, fecha, hora, nombre) {\n  const k = String(idr);\n  if (vistosSalida.has(k)) return;\n  vistosSalida.add(k);\n  (salidasPorCabana[idc] = salidasPorCabana[idc] || []).push({ id_reserva: idr, fecha_checkout: fecha, hora_checkout: hora, huesped_nombre: nombre });\n}\nfor (const r of resR.rows) pushSalida(r.id_cabana, r.id_reserva, ymd(r.fecha_checkout), r.hora_checkout, r.huesped_nombre);\nfor (const s of outR.rows) pushSalida(s.id_cabana, s.id_reserva, ymd(s.fecha_checkout), s.hora_checkout, s.huesped_nombre);\n\nconst bloqueosEspecificos = {};\nconst bloqueosTotales = [];\nfor (const b of blkR.rows) {\n  if (b.id_cabana === null || b.id_cabana === undefined) bloqueosTotales.push(b);\n  else (bloqueosEspecificos[b.id_cabana] = bloqueosEspecificos[b.id_cabana] || []).push(b);\n}\n\n// Cruce de limpieza: mascotas/notas por cabana|fecha|tipo (solo del checkin entrante)\nconst extraEntrada = {}; // \"idc|fecha\" -> { mascotas, detalle, notas, personas, telefono }\nfor (const m of limpR.rows) {\n  if (m.tipo_movimiento === 'checkin') {\n    extraEntrada[m.id_cabana + '|' + ymd(m.fecha_movimiento)] = {\n      mascotas: m.mascotas, detalle: m.detalle_mascotas, notas: m.notas_reserva,\n      personas: m.personas, telefono: m.huesped_telefono\n    };\n  }\n}\n\nfunction reservasDeCabana(idc) { return reservasPorCabana[idc] || []; }\nfunction salidasDeCabana(idc) { return salidasPorCabana[idc] || []; }\nfunction entradaEseDia(idc, dia) { return reservasDeCabana(idc).find(r => ymd(r.fecha_checkin) === dia) || null; }\nfunction salidaEseDia(idc, dia) { return salidasDeCabana(idc).find(s => ymd(s.fecha_checkout) === dia) || null; }\nfunction ocupadaEseDia(idc, dia) {\n  return reservasDeCabana(idc).find(r =>\n    (ymd(r.fecha_checkin) <= dia && dia < ymd(r.fecha_checkout)) || ymd(r.fecha_checkout) === dia) || null;\n}\nfunction bloqueosQueCubren(idc, dia) {\n  const esp = (bloqueosEspecificos[idc] || []).filter(b => ymd(b.fecha_desde) <= dia && dia < ymd(b.fecha_hasta));\n  const tot = bloqueosTotales.filter(b => ymd(b.fecha_desde) <= dia && dia < ymd(b.fecha_hasta));\n  return esp.concat(tot);\n}\n\nfunction calcularCelda(idc, dia) {\n  const entra = entradaEseDia(idc, dia);\n  const sale = salidaEseDia(idc, dia);\n  const ocupa = ocupadaEseDia(idc, dia);\n  const bloqueosCubren = bloqueosQueCubren(idc, dia);\n  const bloqueado = bloqueosCubren.length > 0;\n  // PRIORIDAD limpieza: rojo > gris > amarillo(salida) > verde(entrada/ocupado) > blanco\n  if (entra && sale && entra.id_reserva !== sale.id_reserva) return { color: 'rojo', entra, sale };\n  if (bloqueado) return { color: 'gris', bloqueosCubren };\n  if (sale && !entra) return { color: 'amarillo', sale };\n  if (entra) return { color: 'verde', tipo: 'entrada', reserva: entra };\n  if (ocupa) return { color: 'verde', tipo: 'intermedio', reserva: ocupa, esInicio: ymd(ocupa.fecha_checkin) === dia || (primerDiaVisible === dia) };\n  return { color: 'blanco' };\n}\n\nconst COLORES = {\n  rojo:     { bg: '#f8d2d2', label: 'Salida + entrada (atención)' },\n  gris:     { bg: '#d9d9d9', label: 'Bloqueo' },\n  amarillo: { bg: '#fdf0c2', label: 'Salida (limpiar)' },\n  verde:    { bg: '#cdeccd', label: 'Entrada / ocupado' },\n  blanco:   { bg: '#ffffff', label: 'Sin movimiento' },\n};\n\nfunction masNotas(idc, dia) {\n  const e = extraEntrada[idc + '|' + dia];\n  if (!e) return '';\n  const masc = e.mascotas ? ('🐾 ' + (e.detalle ? esc(e.detalle) : 'sí')) : '';\n  const nota = e.notas ? ('📝 ' + esc(e.notas)) : '';\n  return [masc, nota].filter(Boolean).join(' · ');\n}\n\nfunction contenidoCelda(idc, dia) {\n  const c = calcularCelda(idc, dia);\n  const bg = COLORES[c.color].bg;\n  let f1 = '', f2 = '', f3 = '';\n  if (c.color === 'rojo') {\n    f1 = 'Sale ' + esc(primerNombre(c.sale.huesped_nombre)) + ' · ' + hhmm(c.sale.hora_checkout) + '<br>'\n       + 'Entra ' + esc(c.entra.huesped_nombre) + ' · ' + esc(c.entra.personas) + 'p · ' + hhmm(c.entra.hora_checkin);\n    f2 = esc(c.entra.huesped_telefono);\n    f3 = masNotas(idc, dia);\n  } else if (c.color === 'amarillo') {\n    f1 = 'Sale ' + esc(primerNombre(c.sale.huesped_nombre)) + ' · ' + hhmm(c.sale.hora_checkout);\n  } else if (c.color === 'verde' && c.tipo === 'entrada') {\n    f1 = 'Entra ' + esc(c.reserva.huesped_nombre) + ' · ' + esc(c.reserva.personas) + 'p · ' + hhmm(c.reserva.hora_checkin);\n    f2 = esc(c.reserva.huesped_telefono);\n    f3 = masNotas(idc, dia);\n  } else if (c.color === 'verde' && c.tipo === 'intermedio') {\n    // día ocupado sin movimiento: verde, sin texto (no hay tarea de limpieza)\n  } else if (c.color === 'gris') {\n    const b = c.bloqueosCubren[0];\n    const extra = c.bloqueosCubren.length > 1 ? ' (+)' : '';\n    f1 = esc(b ? b.motivo : 'bloqueo') + extra;\n  }\n  return { bg, f1, f2, f3 };\n}\n\nconst DIA_SEMANA = ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'];\nfunction etiquetaDia(f) {\n  const s = ymd(f);\n  const parts = s.split('-');\n  if (parts.length !== 3) return s;\n  const d = new Date(Date.UTC(+parts[0], +parts[1]-1, +parts[2]));\n  return DIA_SEMANA[d.getUTCDay()] + ' ' + parts[2] + '/' + parts[1];\n}\n\nlet thDias = '<th class=\"cab\">Cabaña</th>';\nfor (const d of dias) thDias += '<th class=\"dia\">' + etiquetaDia(d) + '</th>';\nlet cuerpo = '';\nfor (const cab of ORDEN_CABANAS) {\n  const celdas = dias.map(d => contenidoCelda(cab.id, d));\n  let tr1 = '<td class=\"cab\" rowspan=\"3\">' + esc(cab.nombre) + '</td>';\n  let tr2 = '', tr3 = '';\n  celdas.forEach(cel => {\n    tr1 += '<td class=\"cell f1\" style=\"background:' + cel.bg + '\">' + cel.f1 + '</td>';\n    tr2 += '<td class=\"cell f2\" style=\"background:' + cel.bg + '\">' + cel.f2 + '</td>';\n    tr3 += '<td class=\"cell f3\" style=\"background:' + cel.bg + '\">' + cel.f3 + '</td>';\n  });\n  cuerpo += '<tr class=\"r-mov\">' + tr1 + '</tr><tr class=\"r-tel\">' + tr2 + '</tr><tr class=\"r-extra\">' + tr3 + '</tr>';\n}\n\nconst ahora = new Intl.DateTimeFormat('es-AR', { timeZone: TZ, dateStyle: 'short', timeStyle: 'short' }).format(new Date());\nconst leyenda = Object.values(COLORES).map(c => '<span class=\"lg\"><span class=\"sw\" style=\"background:' + c.bg + '\"></span>' + c.label + '</span>').join('');\n\nconst html = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\">'\n  + '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n  + '<title>Calendario de limpieza — Vita Delta</title>'\n  + '<style>'\n  + 'body{font-family:system-ui,Arial,sans-serif;margin:0;padding:1rem;background:#fafafa;color:#222}'\n  + 'h1{font-size:1.3rem;margin:.2rem 0}'\n  + '.info{color:#666;font-size:.8rem;margin-bottom:.8rem}'\n  + '.leyenda{margin:.5rem 0 1rem;font-size:.8rem}'\n  + '.lg{margin-right:1rem;white-space:nowrap}.sw{display:inline-block;width:14px;height:14px;border:1px solid #aaa;vertical-align:middle;margin-right:4px}'\n  + '.scroll{overflow-x:auto;border:1px solid #ddd;border-radius:8px}'\n  + 'table{border-collapse:collapse;font-size:.72rem;min-width:100%}'\n  + 'th,td{border:1px solid #e0e0e0;padding:3px 5px;text-align:center;vertical-align:middle}'\n  + 'th.dia{min-width:120px}'\n  + 'td.cab,th.cab{position:sticky;left:0;background:#f0f0f0;font-weight:bold;text-align:left;min-width:90px;z-index:1}'\n  + '.cell{min-width:120px;font-size:.68rem;line-height:1.2;height:20px}'\n  + '.r-mov .f1{font-weight:bold}'\n  + '</style></head>'\n  + '<body>'\n  + '<h1>Calendario de limpieza — Complejo Vita Delta</h1>'\n  + '<div class=\"info\">Datos al ' + esc(ahora) + ' · próximos 7 días · TEST</div>'\n  + '<div class=\"leyenda\">' + leyenda + '</div>'\n  + '<div class=\"scroll\"><table><thead><tr>' + thDias + '</tr></thead><tbody>' + cuerpo + '</tbody></table></div>'\n  + '</body></html>';\n\nreturn [{ json: { html, statusCode: 200 } }];"
      },
      "id": "042beb9c-4e7c-4123-91d6-d856287feb4a",
      "name": "Code: render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "556e5a28-94fe-41b0-b04e-c950368a0f83",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PG: leer grilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer grilla": {
      "main": [
        [
          {
            "node": "PG: leer detalle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer detalle": {
      "main": [
        [
          {
            "node": "PG: leer bloqueos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer bloqueos": {
      "main": [
        [
          {
            "node": "PG: leer salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer salidas": {
      "main": [
        [
          {
            "node": "PG: leer limpieza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer limpieza": {
      "main": [
        [
          {
            "node": "Code: render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: render HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "tags": []
}