Workflows/n8n/Supabase/vita_w8b_carga_reserva__TEMPLATE.json
{
  "name": "vita_w8b_carga_reserva__TEMPLATE",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Carga de reserva — Vita Delta",
        "formDescription": "Cargá una reserva ya cerrada.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Operador",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Franco"
                  },
                  {
                    "option": "Vicky"
                  },
                  {
                    "option": "Rodrigo"
                  },
                  {
                    "option": "Remo"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Cabaña",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Bamboo"
                  },
                  {
                    "option": "Madre Selva"
                  },
                  {
                    "option": "Arrebol"
                  },
                  {
                    "option": "Guatemala"
                  },
                  {
                    "option": "Tokio"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha de entrada",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha de salida",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Personas",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Nombre y apellido",
              "requiredField": true
            },
            {
              "fieldLabel": "Teléfono"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Canal de origen",
              "fieldType": "dropdown",
              "defaultValue": "WhatsApp",
              "fieldOptions": {
                "values": [
                  {
                    "option": "WhatsApp"
                  },
                  {
                    "option": "Instagram"
                  },
                  {
                    "option": "Directo"
                  },
                  {
                    "option": "Referido"
                  },
                  {
                    "option": "Airbnb"
                  },
                  {
                    "option": "Booking"
                  },
                  {
                    "option": "Otro"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Canal de pago esperado",
              "fieldType": "dropdown",
              "defaultValue": "Transferencia bancaria",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Transferencia bancaria"
                  },
                  {
                    "option": "Transferencia MercadoPago"
                  },
                  {
                    "option": "Link MercadoPago"
                  },
                  {
                    "option": "Efectivo"
                  },
                  {
                    "option": "Cripto"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Medio de pago",
              "fieldType": "dropdown",
              "defaultValue": "Transferencia bancaria",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Transferencia bancaria"
                  },
                  {
                    "option": "Transferencia MercadoPago"
                  },
                  {
                    "option": "Link MercadoPago"
                  },
                  {
                    "option": "Efectivo"
                  },
                  {
                    "option": "Cripto"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Monto total",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Seña",
              "fieldType": "number",
              "placeholder": "dejá vacío para 50% automático"
            },
            {
              "fieldLabel": "Referencia de pago"
            },
            {
              "fieldLabel": "Niños"
            },
            {
              "fieldLabel": "Notas",
              "fieldType": "textarea"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Cargar reserva",
          "path": "REEMPLAZAR_FORM_PATH",
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "id": "08763ede-e850-405e-b5b3-a24b1fcd840a",
      "name": "Form Trigger 8B",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -2592,
        560
      ],
      "webhookId": "REEMPLAZAR_WEBHOOK_ID",
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CRED_BASICAUTH",
          "name": "<BASIC_AUTH_FORM>"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const nv = (v) => { if (v === undefined || v === null) return null; const s = String(v).trim(); return s === '' ? null : s; };\n\n// === Bloque B: Validar y Normalizar Input (sin escritura) ===\nconst MAP_CABANA = { \"Bamboo\":1, \"Madre Selva\":2, \"Arrebol\":3, \"Guatemala\":4, \"Tokio\":5 };\nconst MAP_CAP    = { 1:5, 2:5, 3:5, 4:4, 5:4 };\nconst MAP_OP     = { \"Franco\":\"franco\", \"Vicky\":\"vicky\", \"Rodrigo\":\"rodrigo\", \"Remo\":\"remo\" };\n// canal_origen: CHECK pre_reservas acepta SOLO whatsapp/instagram/web/manual.\n// Etiqueta visible -> { val: string persistido, fino: etiqueta fina para notas si aplica }\nconst MAP_CANAL_ORIGEN = {\n  \"WhatsApp\":  { val: \"whatsapp\",  fino: null },\n  \"Instagram\": { val: \"instagram\", fino: null },\n  \"Directo\":   { val: \"manual\",    fino: \"Directo\" },\n  \"Referido\":  { val: \"manual\",    fino: \"Referido\" },\n  \"Airbnb\":    { val: \"web\",       fino: \"Airbnb\" },\n  \"Booking\":   { val: \"web\",       fino: \"Booking\" },\n  \"Otro\":      { val: \"manual\",    fino: \"Otro\" }\n};\n// canal_pago_esperado y medio_pago: CHECK acepta transferencia_bancaria/transferencia_mp/mp_link/cripto/efectivo.\nconst MAP_CANAL_PAGO = {\n  \"Transferencia bancaria\":     \"transferencia_bancaria\",\n  \"Transferencia MercadoPago\":  \"transferencia_mp\",\n  \"Link MercadoPago\":           \"mp_link\",\n  \"Efectivo\":                   \"efectivo\",\n  \"Cripto\":                     \"cripto\"\n};\nconst MAP_MEDIO_PAGO = {\n  \"Transferencia bancaria\":     \"transferencia_bancaria\",\n  \"Transferencia MercadoPago\":  \"transferencia_mp\",\n  \"Link MercadoPago\":           \"mp_link\",\n  \"Efectivo\":                   \"efectivo\",\n  \"Cripto\":                     \"cripto\"\n};\n\n// 'hoy' en America/Argentina/Buenos_Aires como 'YYYY-MM-DD' (explícito, sin corrimientos)\nfunction hoyBuenosAires() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'America/Argentina/Buenos_Aires',\n    year: 'numeric', month: '2-digit', day: '2-digit'\n  }).formatToParts(new Date());\n  const y = parts.find(p => p.type === 'year').value;\n  const m = parts.find(p => p.type === 'month').value;\n  const d = parts.find(p => p.type === 'day').value;\n  return `${y}-${m}-${d}`;   // en-CA ya da YYYY-MM-DD, pero lo reconstruimos explícito\n}\n\nconst f = $json;\nconst operador_label = nv(f[\"Operador\"]);\nconst cabana_label   = nv(f[\"Cabaña\"]);\nconst fecha_in       = nv(f[\"Fecha de entrada\"]);\nconst fecha_out      = nv(f[\"Fecha de salida\"]);\nconst personas_in    = nv(f[\"Personas\"]);\nconst nombre_completo = nv(f[\"Nombre y apellido\"]);\nconst telefono       = nv(f[\"Teléfono\"]);\nconst email          = nv(f[\"Email\"]);\nconst canal_origen_label = nv(f[\"Canal de origen\"]);\nconst canal_pago_label   = nv(f[\"Canal de pago esperado\"]);\nconst medio_pago_label   = nv(f[\"Medio de pago\"]);\nconst total_in       = nv(f[\"Monto total\"]);\nconst sena_in        = nv(f[\"Seña\"]);\nconst referencia     = nv(f[\"Referencia de pago\"]);\nconst ninos          = nv(f[\"Niños\"]);\nconst notas          = nv(f[\"Notas\"]);\n\nconst fail = (msg) => ({ json: { valido: false, msg_error: msg } });\n\nconst operador = operador_label ? MAP_OP[operador_label] : null;\nconst id_cabana = cabana_label ? MAP_CABANA[cabana_label] : null;\nconst canal_origen_map = canal_origen_label ? MAP_CANAL_ORIGEN[canal_origen_label] : null;\nconst canal_origen = canal_origen_map ? canal_origen_map.val : null;\nconst origen_fino = canal_origen_map ? canal_origen_map.fino : null;   // etiqueta fina o null\nconst canal_pago_esperado = canal_pago_label ? MAP_CANAL_PAGO[canal_pago_label] : null;\nconst medio_pago = medio_pago_label ? MAP_MEDIO_PAGO[medio_pago_label] : null;\n\nif (!operador) return fail(\"Falta el operador (quién carga).\");\nif (!id_cabana) return fail(\"Falta la cabaña o no se reconoce.\");\nif (!fecha_in || !fecha_out) return fail(\"Faltan las fechas de entrada o salida.\");\nif (!personas_in) return fail(\"Falta la cantidad de personas.\");\nif (!nombre_completo) return fail(\"Falta el nombre y apellido del huésped.\");\nif (!canal_origen) return fail(\"Falta el canal de origen.\");\nif (!canal_pago_esperado) return fail(\"Falta el canal de pago esperado.\");\nif (!medio_pago) return fail(\"Falta el medio de pago.\");\nif (!total_in) return fail(\"Falta el monto total.\");\n\nconst personas = parseInt(personas_in, 10);\nif (!Number.isInteger(personas) || personas < 1) return fail(\"La cantidad de personas no es válida.\");\nconst total = Number(total_in);\nif (!(total > 0)) return fail(\"El monto total debe ser mayor a 0.\");\n\nif (!telefono && !email) return fail(\"Cargá al menos teléfono o email del huésped.\");\n\nconst hoyStr = hoyBuenosAires();\nif (fecha_out <= fecha_in) return fail(\"La fecha de salida debe ser posterior a la de entrada.\");\nif (fecha_in < hoyStr) return fail(\"Las reservas con fechas pasadas o ya iniciadas requieren carga manual; no se cargan por acá.\");\n\nconst cap = MAP_CAP[id_cabana];\nif (personas > cap) return fail(\"Esa cabaña admite hasta \" + cap + \" personas.\");\n\n// Seña: vacía / 0 / no numérica -> 50% automático. Valor > 0 explícito -> se respeta.\n// (n8n puede entregar 0 para un Number vacío; 0 se interpreta como \"no cargó seña\" -> 50%.\n//  El caso de pago 100% se carga como total=X, seña=X, no como seña=0.)\nlet sena;\nconst sena_raw = f[\"Seña\"];\nconst sena_num = (sena_raw === null || sena_raw === undefined || String(sena_raw).trim() === \"\")\n                 ? NaN : Number(sena_raw);\nif (Number.isNaN(sena_num) || sena_num === 0) {\n  sena = Math.round(total * 0.5 * 100) / 100;     // 50% automático\n} else if (sena_num < 0) {\n  return fail(\"La seña no puede ser negativa.\");\n} else if (sena_num > total) {\n  return fail(\"La seña no puede superar el monto total.\");\n} else {\n  sena = sena_num;                                 // valor explícito > 0\n}\n\n// contact_key robusto: teléfono (solo dígitos) o email_<email_min>. Nunca 'sintel'.\nlet contact_key;\nif (telefono) {\n  const tel_norm = telefono.replace(/[^\\d]/g, \"\");\n  if (!tel_norm) {\n    // teléfono presente pero sin dígitos válidos: caer a email si hay\n    if (email) { contact_key = \"email_\" + email.trim().toLowerCase(); }\n    else { return fail(\"El teléfono no tiene dígitos válidos y no hay email.\"); }\n  } else {\n    contact_key = tel_norm;\n  }\n} else {\n  // sin teléfono, con email (garantizado por validación de contacto)\n  contact_key = \"email_\" + email.trim().toLowerCase();\n}\n\nconst idempotency_key = [\"ops_8b\", id_cabana, fecha_in, fecha_out, contact_key].join(\"_\");\nconst source_event = \"n8n_ops_w8b_carga_\" + operador + \"_manual\";\n\n// Preservar el dato operativo fino (Airbnb/Booking/Directo/Referido/Otro) en notas,\n// ya que el CHECK de canal_origen obliga a persistir un valor genérico (web/manual).\nlet notas_final = notas;\nif (origen_fino) {\n  const prefijo = \"Origen operativo: \" + origen_fino;\n  notas_final = notas ? (prefijo + \" | \" + notas) : prefijo;\n}\n\nreturn { json: {\n  valido: true,\n  operador, id_cabana, cabana_label,\n  fecha_in, fecha_out, personas,\n  nombre_completo, telefono, email,\n  canal_origen, origen_fino, canal_pago_esperado, medio_pago,\n  total, sena, saldo: Math.round((total - sena) * 100) / 100,\n  referencia, ninos, notas: notas_final,\n  contact_key, idempotency_key, source_event,\n  id_pre_reserva: null, id_pago: null, id_reserva: null\n}};\n"
      },
      "id": "e630696d-f564-4007-8083-07aae512fb89",
      "name": "Validar y Normalizar Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "if validacion ok_c1",
              "leftValue": "={{ $json.valido === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa6ee4ce-6bf2-4878-95ec-cc673d2a6511",
      "name": "IF Validacion OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2160,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const nv = (v) => { if (v === undefined || v === null) return null; const s = String(v).trim(); return s === '' ? null : s; };\n\n// === Build Payload P1: crear_prereserva ===\nconst d = $json;\nconst payload = {\n  huesped: { nombre: d.nombre_completo, apellido: \"\", telefono: nv(d.telefono), email: nv(d.email) },\n  id_cabana: d.id_cabana,\n  fecha_in: d.fecha_in,\n  fecha_out: d.fecha_out,\n  personas: d.personas,\n  monto_total: d.total,\n  monto_sena: d.sena,\n  canal_origen: d.canal_origen,\n  canal_pago_esperado: d.canal_pago_esperado,\n  source_event: d.source_event,\n  idempotency_key: d.idempotency_key,\n  notas: nv(d.notas),\n  ninos: nv(d.ninos)\n};\nreturn { json: { payload, ctx: d } };\n"
      },
      "id": "c5321b1c-088d-43e6-8175-44647f1bd5b0",
      "name": "Build Payload P1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT crear_prereserva($1::jsonb) AS crear_prereserva;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "3d415fe9-1217-48ea-89a8-b5b876fdbe77",
      "name": "Postgres crear_prereserva",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        432
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CRED_POSTGRES",
          "name": "vita_supabase_<ENTORNO>"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const nv = (v) => { if (v === undefined || v === null) return null; const s = String(v).trim(); return s === '' ? null : s; };\n\n// === Normalize: crear_prereserva ===\nconst ctx = ($('Build Payload P1') ? JSON.parse(JSON.stringify($('Build Payload P1').item.json.ctx)) : ($json.ctx || {}));\nconst row = $json;\nlet br = null, ok = false, error_type = null, raw_error = null;\n\nif (row && row.error) {\n  error_type = 'tecnico';\n  raw_error = String((row.error && row.error.message) || row.error);\n} else {\n  br = row[\"crear_prereserva\"] || row.result || null;\n  if (typeof br === 'string') { try { br = JSON.parse(br); } catch (e) {} }\n  if (!br && row && typeof row === 'object' && ('ok' in row)) { br = row; }\n  if (!br) {\n    error_type = 'tecnico';\n    raw_error = 'respuesta_sql_vacia_o_no_reconocida';\n  } else if (br.ok === true) {\n    ok = true;\n  } else {\n    error_type = 'negocio';\n  }\n}\n\nif (ok && br && br.id_pre_reserva != null) { ctx.id_pre_reserva = br.id_pre_reserva; }\n\nreturn { json: {\n  step: \"crear_prereserva\", ok, error_type, raw_error,\n  business_result: br,\n  id_pre_reserva: ctx.id_pre_reserva ?? null,\n  id_pago: ctx.id_pago ?? null,\n  id_reserva: ctx.id_reserva ?? null,\n  ctx\n}};\n"
      },
      "id": "4eb9c3d4-2644-4226-8f3e-c66ec9b21d00",
      "name": "Normalize C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "if p1 ok_c1",
              "leftValue": "={{ $json.ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ee2549ab-69d7-4370-964f-ba9b3e5c64b7",
      "name": "IF P1 OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1280,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const nv = (v) => { if (v === undefined || v === null) return null; const s = String(v).trim(); return s === '' ? null : s; };\n\n// === Build Payload P2: registrar_pago ===\nconst prev = $json;                 // viene de Normalize C\nconst ctx = prev.ctx;               // ctx ya trae id_pre_reserva enriquecido\nconst payload = {\n  id_pre_reserva: ctx.id_pre_reserva,\n  tipo: \"sena\",\n  medio_pago: ctx.medio_pago,\n  monto_esperado: ctx.sena,\n  monto_recibido: ctx.sena,\n  estado_inicial: \"confirmado\",\n  referencia_externa: nv(ctx.referencia),\n  validado_por: ctx.operador,\n  source_event: ctx.source_event\n};\nreturn { json: { payload, ctx } };\n"
      },
      "id": "c5ee45a4-fef4-4226-a36f-599119c9fd7b",
      "name": "Build Payload P2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_pago($1::jsonb) AS registrar_pago;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "d11513dd-e7e1-4b4f-af22-cb434098962b",
      "name": "Postgres registrar_pago",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CRED_POSTGRES",
          "name": "vita_supabase_<ENTORNO>"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const nv = (v) => { if (v === undefined || v === null) return null; const s = String(v).trim(); return s === '' ? null : s; };\n\n// === Normalize: registrar_pago ===\nconst ctx = ($('Build Payload P2') ? JSON.parse(JSON.stringify($('Build Payload P2').item.json.ctx)) : ($json.ctx || {}));\nconst row = $json;\nlet br = null, ok = false, error_type = null, raw_error = null;\n\nif (row && row.error) {\n  error_type = 'tecnico';\n  raw_error = String((row.error && row.error.message) || row.error);\n} else {\n  br = row[\"registrar_pago\"] || row.result || null;\n  if (typeof br === 'string') { try { br = JSON.parse(br); } catch (e) {} }\n  if (!br && row && typeof row === 'object' && ('ok' in row)) { br = row; }\n  if (!br) {\n    error_type = 'tecnico';\n    raw_error = 'respuesta_sql_vacia_o_no_reconocida';\n  } else if (br.ok === true) {\n    ok = true;\n  } else {\n    error_type = 'negocio';\n  }\n}\n\nif (br && br.id_pago != null) { ctx.id_pago = br.id_pago; }\n// REGLA ESTRICTA D-8B-15: ok:true no basta; debe ser estado 'confirmado' y SIN warning.\nif (ok && br) {\n  const estado_ok = (br.estado === 'confirmado');\n  const sin_warning = !br.warning;\n  if (!(estado_ok && sin_warning)) {\n    ok = false;\n    error_type = 'negocio';   // anómalo: pago registrado pero no confirmado\n  }\n}\n\nreturn { json: {\n  step: \"registrar_pago\", ok, error_type, raw_error,\n  business_result: br,\n  id_pre_reserva: ctx.id_pre_reserva ?? null,\n  id_pago: ctx.id_pago ?? null,\n  id_reserva: ctx.id_reserva ?? null,\n  ctx\n}};\n"
      },
      "id": "aa2a4470-193c-4322-ba70-120f1d379021",
      "name": "Normalize P2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "if p2 ok estricto_c1",
              "leftValue": "={{ $json.ok === true && $json.business_result && $json.business_result.estado === 'confirmado' && !$json.business_result.warning }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "728649c2-0543-4897-ad58-445d1d23cc0a",
      "name": "IF P2 OK estricto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const nv = (v) => { if (v === undefined || v === null) return null; const s = String(v).trim(); return s === '' ? null : s; };\n\n// === Build Payload P3: confirmar_reserva ===\nconst prev = $json;                 // viene de Normalize P2\nconst ctx = prev.ctx;               // ctx trae id_pre_reserva y id_pago\nconst payload = {\n  id_pre_reserva: ctx.id_pre_reserva,\n  permitir_pago_en_revision: false,\n  created_by: ctx.operador,\n  encargado_semana: \"\",\n  source_event: ctx.source_event\n};\nreturn { json: { payload, ctx } };\n"
      },
      "id": "e84038cb-4dee-4cde-8aab-3c8b1dccbc20",
      "name": "Build Payload P3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT confirmar_reserva($1::jsonb) AS confirmar_reserva;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "950d958d-7ae9-43e2-a657-20ee6a64be76",
      "name": "Postgres confirmar_reserva",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CRED_POSTGRES",
          "name": "vita_supabase_<ENTORNO>"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const nv = (v) => { if (v === undefined || v === null) return null; const s = String(v).trim(); return s === '' ? null : s; };\n\n// === Normalize: confirmar_reserva ===\nconst ctx = ($('Build Payload P3') ? JSON.parse(JSON.stringify($('Build Payload P3').item.json.ctx)) : ($json.ctx || {}));\nconst row = $json;\nlet br = null, ok = false, error_type = null, raw_error = null;\n\nif (row && row.error) {\n  error_type = 'tecnico';\n  raw_error = String((row.error && row.error.message) || row.error);\n} else {\n  br = row[\"confirmar_reserva\"] || row.result || null;\n  if (typeof br === 'string') { try { br = JSON.parse(br); } catch (e) {} }\n  if (!br && row && typeof row === 'object' && ('ok' in row)) { br = row; }\n  if (!br) {\n    error_type = 'tecnico';\n    raw_error = 'respuesta_sql_vacia_o_no_reconocida';\n  } else if (br.ok === true) {\n    ok = true;\n  } else {\n    error_type = 'negocio';\n  }\n}\n\nif (ok && br && br.id_reserva != null) { ctx.id_reserva = br.id_reserva; }\n\nreturn { json: {\n  step: \"confirmar_reserva\", ok, error_type, raw_error,\n  business_result: br,\n  id_pre_reserva: ctx.id_pre_reserva ?? null,\n  id_pago: ctx.id_pago ?? null,\n  id_reserva: ctx.id_reserva ?? null,\n  ctx\n}};\n"
      },
      "id": "cab02606-73ab-442c-a94e-9ae94c9635e5",
      "name": "Normalize P3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "if p3 ok_c1",
              "leftValue": "={{ $json.ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "983f7ec3-c46b-4fb8-a43b-80ea840a5206",
      "name": "IF P3 OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        304
      ]
    },
    {
      "parameters": {},
      "id": "cb8300cc-ab85-4b8b-87b1-f4930eb09748",
      "name": "PUNTO EXTENSION 8C (repintado - NO construir en 8B)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// === Build Compensation Context (unifica fallo P2 y fallo P3) ===\nconst prev = $json;                 // Normalize P2 (rama F) o Normalize P3 (rama G)\nconst ctx = prev.ctx || {};\nconst failed_step = prev.step;      // 'registrar_pago' | 'confirmar_reserva'\nconst id_pre_reserva = ctx.id_pre_reserva ?? prev.id_pre_reserva ?? null;\nconst id_pago = ctx.id_pago ?? prev.id_pago ?? null;\nconst pago_registrado = (failed_step === 'confirmar_reserva') ? true : (id_pago != null);\nconst failure_reason = (prev.error_type === 'tecnico')\n  ? ('tecnico: ' + (prev.raw_error || 'desconocido'))\n  : ('negocio: ' + (prev.business_result ? (prev.business_result.error || JSON.stringify(prev.business_result)) : 'desconocido'));\nreturn { json: {\n  payload: {\n    id_pre_reserva: id_pre_reserva,\n    motivo: \"cliente\",\n    descripcion: \"rollback_8b_fallo_cadena\",\n    source_event: ctx.source_event || \"n8n_ops_w8b_carga_desconocido_manual\"\n  },\n  compensation_context: { id_pre_reserva, id_pago, failed_step, failure_reason, pago_registrado, raw_result: prev },\n  ctx\n}};\n"
      },
      "id": "102ccbb9-9c5a-4575-84b6-ddcfe29423ee",
      "name": "Build Compensation Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        624
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cancelar_prereserva($1::jsonb) AS cancelar_prereserva;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "dc947e0d-4839-418d-8f94-414887ac54ed",
      "name": "Postgres cancelar_prereserva",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        624
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_CRED_POSTGRES",
          "name": "vita_supabase_<ENTORNO>"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// === Normalize I: normaliza SOLO el resultado técnico de cancelar_prereserva ===\nconst row = $json;\nconst compCtx = ($('Build Compensation Context') ? $('Build Compensation Context').item.json.compensation_context : null);\nconst ctx = ($('Build Compensation Context') ? $('Build Compensation Context').item.json.ctx : null);\nlet cancelacion_ok = false, pagos_asociados_count = null, pagos_asociados_ids = null;\nlet estado_no_cancelable = false, error_type = null, raw_error = null, br = null;\n\nif (row && row.error) {\n  error_type = 'tecnico';\n  raw_error = String((row.error && row.error.message) || row.error);\n} else {\n  br = row.cancelar_prereserva || row.result || null;\n  if (typeof br === 'string') { try { br = JSON.parse(br); } catch (e) {} }\n  if (!br && row && typeof row === 'object' && ('ok' in row)) { br = row; }\n  if (!br) {\n    error_type = 'tecnico';\n    raw_error = 'respuesta_sql_vacia_o_no_reconocida';\n  } else if (br.ok === true) {\n    cancelacion_ok = true;\n    pagos_asociados_count = br.pagos_asociados_count ?? null;\n    pagos_asociados_ids = br.pagos_asociados_ids ?? null;\n  } else {\n    error_type = 'negocio';\n    if (br.error === 'estado_no_cancelable') estado_no_cancelable = true;\n  }\n}\nreturn { json: {\n  step: \"cancelar_prereserva\",\n  cancelacion_ok, pagos_asociados_count, pagos_asociados_ids,\n  estado_no_cancelable, error_type, raw_error,\n  compensation_context: compCtx, ctx\n}};\n"
      },
      "id": "6080e100-3e01-4710-9674-44cdfb5aa8e2",
      "name": "Normalize I",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// === Build Response: ÚNICA fuente de la decisión del mensaje ===\n// Emite { resultado, completionTitle, completionMessage } que consume el nodo Form Ending.\nconst j = $json;\nfunction out(tipo, titulo, detalle) {\n  return { json: { resultado: tipo, completionTitle: titulo, completionMessage: detalle } };\n}\n\n// 1) Validación fallida (Bloque B)\nif (j.valido === false) return out(\"error_validacion\", \"No se pudo cargar\", j.msg_error);\n\n// 2) Éxito (rama G-ok: confirmar_reserva ok)\nif (j.ok === true && j.step === \"confirmar_reserva\") {\n  const ctx = j.ctx || {};\n  const det = \"Reserva N° \" + (ctx.id_reserva ?? j.id_reserva) + \". \" + (ctx.cabana_label||\"\") + \" \" +\n              (ctx.fecha_in||\"\") + \" → \" + (ctx.fecha_out||\"\") +\n              \". Saldo pendiente: $\" + (ctx.saldo!=null?ctx.saldo:\"-\") + \".\";\n  return out(\"ok\", \"✅ Reserva confirmada\", det);\n}\n\n// 3) Error en P1 (Normalize C, ok:false)\nif (j.step === \"crear_prereserva\" && j.ok === false) {\n  if (j.error_type === \"tecnico\")\n    return out(\"error_tecnico\", \"⚠️ Error técnico\",\n      \"No se pudo procesar la carga. Reintentá en un momento; si persiste, avisá a Franco.\");\n  const e = j.business_result ? j.business_result.error : null;\n  const MAP = {\n    payload_invalido: \"Faltan datos obligatorios (revisá los campos).\",\n    precio_requerido: \"Faltan el monto total o la seña.\",\n    fechas_invalidas: \"La fecha de salida debe ser posterior a la de entrada.\",\n    huesped_nombre_requerido: \"Falta el nombre del huésped.\",\n    huesped_contacto_requerido: \"Cargá al menos teléfono o email.\",\n    cabana_no_existe: \"Esa cabaña no está disponible para cargar.\",\n    cabana_inactiva: \"Esa cabaña no está disponible para cargar.\",\n    excede_capacidad: \"Esa cabaña no admite esa cantidad de personas.\",\n    no_disponible: \"Esa cabaña ya está ocupada en esas fechas.\",\n    hora_fuera_de_rango: \"El horario solicitado está fuera del rango permitido.\"\n  };\n  return out(\"error_negocio\", \"No se pudo cargar\", MAP[e] || (\"No se pudo crear la reserva (\" + (e||\"error\") + \").\"));\n}\n\n// 4) Resultado de compensación (Normalize I)\nif (j.step === \"cancelar_prereserva\") {\n  const cc = j.compensation_context || {};\n  const idp = cc.id_pre_reserva;\n  const ids = (j.pagos_asociados_ids && j.pagos_asociados_ids.length) ? j.pagos_asociados_ids.join(\", \") : null;\n  if (j.cancelacion_ok === true && j.pagos_asociados_count === 0)\n    return out(\"reversion_limpia\", \"No se completó la carga\",\n      \"La carga no se pudo completar (\" + (cc.failure_reason||\"\") + \"). \" +\n      \"La pre-reserva se canceló y no quedó ningún pago registrado. Podés reintentar.\");\n  if (j.cancelacion_ok === true && j.pagos_asociados_count > 0)\n    return out(\"revision_manual\", \"⚠️ Requiere revisión manual\",\n      \"Se registró un pago pero no se pudo confirmar la reserva. La pre-reserva #\" + idp +\n      \" se canceló pero el/los pago/s siguen registrados (#\" + ids + \"). Avisá a Franco con esos números.\");\n  const pagoTxt = cc.id_pago ? (\", pago #\" + cc.id_pago) : \"\";\n  return out(\"estado_parcial\", \"⚠️ Carga incompleta\",\n    \"La carga quedó incompleta (pre-reserva #\" + idp + pagoTxt + \") y no se pudo revertir automáticamente. \" +\n    \"Requiere revisión manual — avisá a Franco.\");\n}\n\n// 5) Fallback defensivo\nreturn out(\"error_tecnico\", \"⚠️ Error inesperado\",\n  \"No se pudo determinar el resultado de la carga. Avisá a Franco.\");\n"
      },
      "id": "18249a77-433e-4b90-847c-dd6025b7ef9c",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        560
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "={{ $json.completionTitle }}",
        "completionMessage": "={{ $json.completionMessage }}",
        "options": {}
      },
      "id": "5536920f-733d-46ca-b132-02a4009c1e02",
      "name": "Form Ending",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1168,
        560
      ],
      "webhookId": "REEMPLAZAR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_8CBIS",
          "mode": "id",
          "cachedResultUrl": "/workflow/REEMPLAZAR_ID_8CBIS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_reserva": "={{ $json.id_reserva ?? $json.business_result?.id_reserva }}",
            "id_pre_reserva": "={{ $json.id_pre_reserva ?? $json.business_result?.id_pre_reserva }}",
            "entorno": "ops",
            "source": "w8b_carga",
            "operador": "={{ $json.ctx?.operador }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_reserva",
              "displayName": "id_reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "id_pre_reserva",
              "displayName": "id_pre_reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "entorno",
              "displayName": "entorno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "operador",
              "displayName": "operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        176
      ],
      "id": "b41baf71-96b5-4449-a528-00ccfabffb84",
      "name": "Call 'vita_w8cbis_alerta__OPS'",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Validar y Normalizar Input": {
      "main": [
        [
          {
            "node": "IF Validacion OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Validacion OK": {
      "main": [
        [
          {
            "node": "Build Payload P1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload P1": {
      "main": [
        [
          {
            "node": "Postgres crear_prereserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres crear_prereserva": {
      "main": [
        [
          {
            "node": "Normalize C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize C": {
      "main": [
        [
          {
            "node": "IF P1 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF P1 OK": {
      "main": [
        [
          {
            "node": "Build Payload P2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload P2": {
      "main": [
        [
          {
            "node": "Postgres registrar_pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres registrar_pago": {
      "main": [
        [
          {
            "node": "Normalize P2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize P2": {
      "main": [
        [
          {
            "node": "IF P2 OK estricto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF P2 OK estricto": {
      "main": [
        [
          {
            "node": "Build Payload P3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Compensation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload P3": {
      "main": [
        [
          {
            "node": "Postgres confirmar_reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres confirmar_reserva": {
      "main": [
        [
          {
            "node": "Normalize P3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize P3": {
      "main": [
        [
          {
            "node": "IF P3 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF P3 OK": {
      "main": [
        [
          {
            "node": "PUNTO EXTENSION 8C (repintado - NO construir en 8B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Compensation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUNTO EXTENSION 8C (repintado - NO construir en 8B)": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'vita_w8cbis_alerta__OPS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Compensation Context": {
      "main": [
        [
          {
            "node": "Postgres cancelar_prereserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres cancelar_prereserva": {
      "main": [
        [
          {
            "node": "Normalize I",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize I": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Form Ending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger 8B": {
      "main": [
        [
          {
            "node": "Validar y Normalizar Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "tags": []
}