Docs/Bitacora/Carril C/portal-a03-limpieza__TEMPLATE.json
{
  "name": "portal-a03-limpieza",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portal-a03-limpieza",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f5bf3519-82c2-45b5-b0f8-86c18a1d0568",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Slice 0 / Fase C (v2) - lee el raw body desde BINARIO ('data'), no desde $json.rawBody.\n// En esta version de n8n, el Webhook con \"Raw Body\" ON entrega el cuerpo crudo como\n// binario (item.binary.data), no como rawBody. getBinaryDataBuffer da los bytes exactos.\nconst crypto = require('crypto');\n\n// Secreto: prioridad Variables ($vars); fallback in-node (sanitizado en el template).\nconst SECRET = (typeof $vars !== 'undefined' && $vars && $vars.VITA_HMAC_SECRET)\n  ? $vars.VITA_HMAC_SECRET\n  : '__PEGAR_SECRETO_O_USAR_VARIABLE__';\n\n// Assert duro (L-C-08): si el secreto no esta en Variables, abortar; no operar con placeholder.\nif (!SECRET || SECRET === '__PEGAR_SECRETO_O_USAR_VARIABLE__') {\n  throw new Error('VITA_HMAC_SECRET no configurado en n8n Variables; abortando (assert duro).');\n}\n\nconst item = $input.first();\nconst wh = item.json;\n\n// 1) Raw body como Buffer EXACTO. Prioridad: binario 'data'. Fallback: wh.rawBody.\nlet buf = null;\ntry {\n  if (item.binary && item.binary.data) {\n    buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  }\n} catch (e) {\n  buf = null;\n}\nif (!buf) {\n  const rawField = wh.rawBody;\n  if (Buffer.isBuffer(rawField)) buf = rawField;\n  else if (rawField && rawField.type === 'Buffer' && Array.isArray(rawField.data)) buf = Buffer.from(rawField.data);\n  else if (typeof rawField === 'string') buf = Buffer.from(rawField, 'utf8');\n}\nif (!buf) {\n  return [{ json: { ok_firma: false, motivo: 'raw_body_ausente', ambiente_esperado: null, rol: null, action: null, ts: null } }];\n}\n\n// 2) Firma recibida en el header.\nconst headers = wh.headers || {};\nconst sigHeader = headers['x-vita-signature'] || headers['X-Vita-Signature'] || '';\n\n// 3) HMAC recomputado sobre los MISMOS bytes.\nconst expected = 'sha256=' + crypto.createHmac('sha256', SECRET).update(buf).digest('hex');\n\n// 4) Comparacion timing-safe (requiere igual longitud).\nlet firmaOk = false;\ntry {\n  const a = Buffer.from(sigHeader);\n  const b = Buffer.from(expected);\n  firmaOk = a.length === b.length && crypto.timingSafeEqual(a, b);\n} catch (e) {\n  firmaOk = false;\n}\nif (!firmaOk) {\n  return [{ json: { ok_firma: false, motivo: 'firma_invalida', ambiente_esperado: null, rol: null, action: null, ts: null } }];\n}\n\n// 5) Parseo (firma ya validada sobre bytes crudos).\nlet body;\ntry {\n  body = JSON.parse(buf.toString('utf8'));\n} catch (e) {\n  return [{ json: { ok_firma: false, motivo: 'payload_invalido', ambiente_esperado: null, rol: null, action: null, ts: null } }];\n}\n\n// 6) Ventana de ts (anti-replay liviano, D-C-29): |now - ts| <= 300s.\nconst ts = Number(body.ts);\nif (!Number.isFinite(ts) || Math.abs(Date.now() - ts) > 300000) {\n  return [{ json: { ok_firma: false, motivo: 'ts_fuera_de_ventana', ambiente_esperado: body.ambiente_esperado ?? null, rol: body.rol ?? null, action: body.action ?? null, ts: body.ts ?? null } }];\n}\n\n// Allowlist de rol del wrapper (D-C-39, segunda defensa). A03 = jenny/vicky/socio.\nconst ROLES_OK = ['jenny', 'vicky', 'socio'];\nif (!ROLES_OK.includes(body.rol)) {\n  return [{ json: { ok_firma: false, motivo: 'rol_no_permitido', ambiente_esperado: body.ambiente_esperado ?? null, rol: body.rol ?? null, action: body.action ?? null, ts } }];\n}\n\n// Action binding (D-C-39 ext.): el endpoint solo acepta su accion esperada, aunque el sobre\n// este bien firmado (evita ruteos cruzados). EXPECTED_ACTION = calendario.limpieza (A03).\nconst EXPECTED_ACTION = 'calendario.limpieza';\nif (body.action !== EXPECTED_ACTION) {\n  return [{ json: { ok_firma: false, motivo: 'accion_desconocida', ambiente_esperado: body.ambiente_esperado ?? null, rol: body.rol ?? null, action: body.action ?? null, ts } }];\n}\n\nreturn [{ json: { ok_firma: true, motivo: null, ambiente_esperado: body.ambiente_esperado ?? null, rol: body.rol ?? null, action: body.action ?? null, ts } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "c4e7c172-b4bb-4e97-ac50-0cb9182a5b85",
      "name": "validar_firma_ts_rol"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT valor FROM configuracion_general WHERE clave = 'ambiente'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        0
      ],
      "id": "88277394-a908-420c-b78a-623fb4b6dac8",
      "name": "leer_ambiente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_TEST",
          "name": "vita_supabase_test (reemplazar al importar)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Slice 0 / Fase C - compara ambiente y arma el envelope uniforme (D-C-18/35).\nconst v = $('validar_firma_ts_rol').first().json;\nconst ambItem = $('leer_ambiente').first();\nconst real = (ambItem && ambItem.json) ? (ambItem.json.valor ?? null) : null;\n\nfunction envErr(code, message, detail) {\n  return [{ json: { ok: false, error: { code, message, detail: detail ?? null } } }];\n}\n\nif (!v.ok_firma) {\n  const msgs = {\n    firma_invalida: 'firma HMAC invalida o ausente',\n    ts_fuera_de_ventana: 'timestamp fuera de la ventana permitida (300s)',\n    payload_invalido: 'cuerpo no es JSON valido',\n    raw_body_ausente: 'no llego el raw body (activa Raw Body en el Webhook)',\n    rol_no_permitido: 'rol no habilitado para esta accion',\n    accion_desconocida: 'accion no corresponde a este endpoint'\n  };\n  return envErr(v.motivo, msgs[v.motivo] || 'rechazado', null);\n}\n\nif (v.ambiente_esperado !== real) {\n  return envErr('ambiente_incorrecto', 'el sobre no corresponde a este entorno', { esperado: v.ambiente_esperado, real });\n}\n\n// Paso OK: marcador para que el IF habilite los reads. El envelope final lo arma el render.\nreturn [{ json: { ok: true } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "247428cf-786a-4632-9898-f3e8322533eb",
      "name": "verificar_acceso"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "24d9d390-2766-4d93-8ec3-b89a75304807",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "b9f8d8fb-ad86-486d-ab61-92ba91bef735",
      "name": "IF acceso"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, fecha, estado, id_reserva_activa, hora_checkin_base, hora_checkout_base\nFROM vista_disponibilidad\nWHERE fecha >= CURRENT_DATE\n  AND fecha < CURRENT_DATE + INTERVAL '7 days'\nORDER BY id_cabana, fecha;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        -150
      ],
      "id": "f533b9d5-51d8-45c4-bd99-0e2b8037a3ad",
      "name": "PG: leer grilla",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_TEST",
          "name": "vita_supabase_test (reemplazar al importar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, id_reserva, fecha_checkin, fecha_checkout, hora_checkin, hora_checkout,\n       personas, estado_reserva, huesped_nombre, huesped_telefono\nFROM vista_calendario\nWHERE fecha_checkin < CURRENT_DATE + INTERVAL '7 days'\n  AND fecha_checkout > CURRENT_DATE\nORDER BY id_cabana, fecha_checkin;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1320,
        -150
      ],
      "id": "758d1788-7224-41cb-bfdd-6f60cd31d23e",
      "name": "PG: leer detalle",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_TEST",
          "name": "vita_supabase_test (reemplazar al importar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_bloqueo, id_cabana, fecha_desde, fecha_hasta, motivo, descripcion\nFROM bloqueos\nWHERE activo = true\n  AND fecha_desde < CURRENT_DATE + INTERVAL '7 days'\n  AND fecha_hasta > CURRENT_DATE\nORDER BY fecha_desde;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        -150
      ],
      "id": "e22bed37-09a9-494e-8577-e55f9cb750c1",
      "name": "PG: leer bloqueos",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_TEST",
          "name": "vita_supabase_test (reemplazar al importar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.id_cabana, r.id_reserva, r.fecha_checkout, r.hora_checkout,\n       TRIM(BOTH FROM (h.nombre || ' ') || COALESCE(h.apellido, '')) AS huesped_nombre\nFROM reservas r\nJOIN huespedes h ON h.id_huesped = r.id_huesped\nWHERE r.estado IN ('confirmada','activa','completada')\n  AND r.fecha_checkout >= CURRENT_DATE\n  AND r.fecha_checkout < CURRENT_DATE + INTERVAL '7 days';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        -150
      ],
      "id": "7286dbd4-30dc-4640-b1cd-49b1ee4f525c",
      "name": "PG: leer salidas",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_TEST",
          "name": "vita_supabase_test (reemplazar al importar)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id_cabana, fecha_movimiento, tipo_movimiento, cabana, hora, personas,\n       huesped, huesped_telefono, mascotas, detalle_mascotas, notas_reserva\nFROM vista_limpieza_semana\nORDER BY fecha_movimiento, hora;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1980,
        -150
      ],
      "id": "4b9773e5-d71f-4973-a563-cd0093922213",
      "name": "PG: leer limpieza",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR_POR_CRED_TEST",
          "name": "vita_supabase_test (reemplazar al importar)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== vita_w8c_html_limpieza__TEST — nodo Code (render) — v2 (camino 2) =====\n// Solo lectura. Limpieza (Jennifer): 7 días, SIN montos. Motor del operativo filtrado\n// + cruce con vista_limpieza_semana para mascotas/notas.\n// Paleta: rojo > gris > amarillo (salida) > verde (entrada/ocupado) > blanco.\n\nconst TZ = 'America/Argentina/Buenos_Aires';\nconst DIAS_VENTANA = 7;\n\nfunction esc(v) {\n  if (v === null || v === undefined) return '';\n  return String(v)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\n}\nfunction hhmm(t) { if (!t) return ''; const s = String(t); return s.length >= 5 ? s.slice(0, 5) : s; }\nfunction primerNombre(full) { if (!full) return ''; return String(full).trim().split(/\\s+/)[0]; }\n// Normaliza cualquier fecha (date o timestamp '2026-06-01T00:00:00.000Z') a 'YYYY-MM-DD'\nfunction ymd(v) { if (v === null || v === undefined) return ''; return String(v).slice(0, 10); }\n\nfunction safeAll(nodeName, keyField) {\n  try {\n    const items = $(nodeName).all();\n    const failed = items.some(it => it && it.json && (it.json.error || it.error));\n    if (failed) return { ok: false, rows: [] };\n    const rows = items.map(it => it.json).filter(j => j && j[keyField] !== undefined && j[keyField] !== null);\n    return { ok: true, rows };\n  } catch (e) { return { ok: false, rows: [] }; }\n}\n\nconst gridR = safeAll('PG: leer grilla', 'id_cabana');     // vista_disponibilidad (7 dias)\nconst resR  = safeAll('PG: leer detalle', 'id_reserva');   // vista_calendario (SIN montos seleccionados)\nconst blkR  = safeAll('PG: leer bloqueos', 'id_bloqueo');  // bloqueos\nconst outR  = safeAll('PG: leer salidas', 'id_reserva');   // salidas (incluye completada)\nconst limpR = safeAll('PG: leer limpieza', 'id_cabana');   // vista_limpieza_semana (mascotas/notas)\nconst huboError = !gridR.ok || !resR.ok || !blkR.ok || !outR.ok || !limpR.ok;\n\nif (huboError) {\n  const htmlError = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\">'\n    + '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n    + '<title>Calendario de limpieza — Vita Delta</title>'\n    + '<style>body{font-family:system-ui,Arial,sans-serif;background:#f5f5f5;margin:0;padding:2rem;color:#333}'\n    + '.box{max-width:480px;margin:3rem auto;background:#fff;border-radius:12px;padding:2rem;text-align:center;box-shadow:0 1px 4px rgba(0,0,0,.1)}'\n    + 'h1{font-size:1.2rem;margin:0 0 .5rem}p{color:#666;line-height:1.5}</style></head>'\n    + '<body><div class=\"box\"><h1>No se pudo cargar el calendario</h1>'\n    + '<p>Hubo un problema temporal al obtener los datos. Reintentá en unos minutos.</p>'\n    + '<p>Si el problema persiste, avisá al equipo.</p></div></body></html>';\n  return [{ json: { ok: false, error: { code: 'error_interno', message: 'no se pudo cargar el calendario', detail: null } } }];\n}\n\nconst ORDEN_CABANAS = [\n  { id: 1, nombre: 'Bamboo' }, { id: 2, nombre: 'Madre Selva' }, { id: 3, nombre: 'Arrebol' },\n  { id: 4, nombre: 'Guatemala' }, { id: 5, nombre: 'Tokio' },\n];\n\nconst dias = Array.from(new Set(gridR.rows.map(r => ymd(r.fecha)))).sort();\nconst primerDiaVisible = dias.length ? dias[0] : null;\n\nconst reservasPorCabana = {};\nfor (const r of resR.rows) (reservasPorCabana[r.id_cabana] = reservasPorCabana[r.id_cabana] || []).push(r);\n\nconst salidasPorCabana = {};\nconst vistosSalida = new Set();\nfunction pushSalida(idc, idr, fecha, hora, nombre) {\n  const k = String(idr);\n  if (vistosSalida.has(k)) return;\n  vistosSalida.add(k);\n  (salidasPorCabana[idc] = salidasPorCabana[idc] || []).push({ id_reserva: idr, fecha_checkout: fecha, hora_checkout: hora, huesped_nombre: nombre });\n}\nfor (const r of resR.rows) pushSalida(r.id_cabana, r.id_reserva, ymd(r.fecha_checkout), r.hora_checkout, r.huesped_nombre);\nfor (const s of outR.rows) pushSalida(s.id_cabana, s.id_reserva, ymd(s.fecha_checkout), s.hora_checkout, s.huesped_nombre);\n\nconst bloqueosEspecificos = {};\nconst bloqueosTotales = [];\nfor (const b of blkR.rows) {\n  if (b.id_cabana === null || b.id_cabana === undefined) bloqueosTotales.push(b);\n  else (bloqueosEspecificos[b.id_cabana] = bloqueosEspecificos[b.id_cabana] || []).push(b);\n}\n\n// Cruce de limpieza: mascotas/notas por cabana|fecha|tipo (solo del checkin entrante)\nconst extraEntrada = {}; // \"idc|fecha\" -> { mascotas, detalle, notas, personas, telefono }\nfor (const m of limpR.rows) {\n  if (m.tipo_movimiento === 'checkin') {\n    extraEntrada[m.id_cabana + '|' + ymd(m.fecha_movimiento)] = {\n      mascotas: m.mascotas, detalle: m.detalle_mascotas, notas: m.notas_reserva,\n      personas: m.personas, telefono: m.huesped_telefono\n    };\n  }\n}\n\nfunction reservasDeCabana(idc) { return reservasPorCabana[idc] || []; }\nfunction salidasDeCabana(idc) { return salidasPorCabana[idc] || []; }\nfunction entradaEseDia(idc, dia) { return reservasDeCabana(idc).find(r => ymd(r.fecha_checkin) === dia) || null; }\nfunction salidaEseDia(idc, dia) { return salidasDeCabana(idc).find(s => ymd(s.fecha_checkout) === dia) || null; }\nfunction ocupadaEseDia(idc, dia) {\n  return reservasDeCabana(idc).find(r =>\n    (ymd(r.fecha_checkin) <= dia && dia < ymd(r.fecha_checkout)) || ymd(r.fecha_checkout) === dia) || null;\n}\nfunction bloqueosQueCubren(idc, dia) {\n  const esp = (bloqueosEspecificos[idc] || []).filter(b => ymd(b.fecha_desde) <= dia && dia < ymd(b.fecha_hasta));\n  const tot = bloqueosTotales.filter(b => ymd(b.fecha_desde) <= dia && dia < ymd(b.fecha_hasta));\n  return esp.concat(tot);\n}\n\nfunction calcularCelda(idc, dia) {\n  const entra = entradaEseDia(idc, dia);\n  const sale = salidaEseDia(idc, dia);\n  const ocupa = ocupadaEseDia(idc, dia);\n  const bloqueosCubren = bloqueosQueCubren(idc, dia);\n  const bloqueado = bloqueosCubren.length > 0;\n  // PRIORIDAD limpieza: rojo > gris > amarillo(salida) > verde(entrada/ocupado) > blanco\n  if (entra && sale && entra.id_reserva !== sale.id_reserva) return { color: 'rojo', entra, sale };\n  if (bloqueado) return { color: 'gris', bloqueosCubren };\n  if (sale && !entra) return { color: 'amarillo', sale };\n  if (entra) return { color: 'verde', tipo: 'entrada', reserva: entra };\n  if (ocupa) return { color: 'verde', tipo: 'intermedio', reserva: ocupa, esInicio: ymd(ocupa.fecha_checkin) === dia || (primerDiaVisible === dia) };\n  return { color: 'blanco' };\n}\n\nconst COLORES = {\n  rojo:     { bg: '#f8d2d2', label: 'Salida + entrada (atención)' },\n  gris:     { bg: '#d9d9d9', label: 'Bloqueo' },\n  amarillo: { bg: '#fdf0c2', label: 'Salida (limpiar)' },\n  verde:    { bg: '#cdeccd', label: 'Entrada / ocupado' },\n  blanco:   { bg: '#ffffff', label: 'Sin movimiento' },\n};\n\nfunction masNotas(idc, dia) {\n  const e = extraEntrada[idc + '|' + dia];\n  if (!e) return '';\n  const masc = e.mascotas ? ('🐾 ' + (e.detalle ? esc(e.detalle) : 'sí')) : '';\n  const nota = e.notas ? ('📝 ' + esc(e.notas)) : '';\n  return [masc, nota].filter(Boolean).join(' · ');\n}\n\nfunction contenidoCelda(idc, dia) {\n  const c = calcularCelda(idc, dia);\n  const bg = COLORES[c.color].bg;\n  let f1 = '', f2 = '', f3 = '';\n  if (c.color === 'rojo') {\n    f1 = 'Sale ' + esc(primerNombre(c.sale.huesped_nombre)) + ' · ' + hhmm(c.sale.hora_checkout) + '<br>'\n       + 'Entra ' + esc(c.entra.huesped_nombre) + ' · ' + esc(c.entra.personas) + 'p · ' + hhmm(c.entra.hora_checkin);\n    f2 = esc(c.entra.huesped_telefono);\n    f3 = masNotas(idc, dia);\n  } else if (c.color === 'amarillo') {\n    f1 = 'Sale ' + esc(primerNombre(c.sale.huesped_nombre)) + ' · ' + hhmm(c.sale.hora_checkout);\n  } else if (c.color === 'verde' && c.tipo === 'entrada') {\n    f1 = 'Entra ' + esc(c.reserva.huesped_nombre) + ' · ' + esc(c.reserva.personas) + 'p · ' + hhmm(c.reserva.hora_checkin);\n    f2 = esc(c.reserva.huesped_telefono);\n    f3 = masNotas(idc, dia);\n  } else if (c.color === 'verde' && c.tipo === 'intermedio') {\n    // día ocupado sin movimiento: verde, sin texto (no hay tarea de limpieza)\n  } else if (c.color === 'gris') {\n    const b = c.bloqueosCubren[0];\n    const extra = c.bloqueosCubren.length > 1 ? ' (+)' : '';\n    f1 = esc(b ? b.motivo : 'bloqueo') + extra;\n  }\n  return { bg, f1, f2, f3 };\n}\n\nconst DIA_SEMANA = ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'];\nfunction etiquetaDia(f) {\n  const s = ymd(f);\n  const parts = s.split('-');\n  if (parts.length !== 3) return s;\n  const d = new Date(Date.UTC(+parts[0], +parts[1]-1, +parts[2]));\n  return DIA_SEMANA[d.getUTCDay()] + ' ' + parts[2] + '/' + parts[1];\n}\n\nlet thDias = '<th class=\"cab\">Cabaña</th>';\nfor (const d of dias) thDias += '<th class=\"dia\">' + etiquetaDia(d) + '</th>';\nlet cuerpo = '';\nfor (const cab of ORDEN_CABANAS) {\n  const celdas = dias.map(d => contenidoCelda(cab.id, d));\n  let tr1 = '<td class=\"cab\" rowspan=\"3\">' + esc(cab.nombre) + '</td>';\n  let tr2 = '', tr3 = '';\n  celdas.forEach(cel => {\n    tr1 += '<td class=\"cell f1\" style=\"background:' + cel.bg + '\">' + cel.f1 + '</td>';\n    tr2 += '<td class=\"cell f2\" style=\"background:' + cel.bg + '\">' + cel.f2 + '</td>';\n    tr3 += '<td class=\"cell f3\" style=\"background:' + cel.bg + '\">' + cel.f3 + '</td>';\n  });\n  cuerpo += '<tr class=\"r-mov\">' + tr1 + '</tr><tr class=\"r-tel\">' + tr2 + '</tr><tr class=\"r-extra\">' + tr3 + '</tr>';\n}\n\nconst ahora = new Intl.DateTimeFormat('es-AR', { timeZone: TZ, dateStyle: 'short', timeStyle: 'short' }).format(new Date());\nconst leyenda = Object.values(COLORES).map(c => '<span class=\"lg\"><span class=\"sw\" style=\"background:' + c.bg + '\"></span>' + c.label + '</span>').join('');\n\nconst html = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"utf-8\">'\n  + '<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n  + '<title>Calendario de limpieza — Vita Delta</title>'\n  + '<style>'\n  + 'body{font-family:system-ui,Arial,sans-serif;margin:0;padding:1rem;background:#fafafa;color:#222}'\n  + 'h1{font-size:1.3rem;margin:.2rem 0}'\n  + '.info{color:#666;font-size:.8rem;margin-bottom:.8rem}'\n  + '.leyenda{margin:.5rem 0 1rem;font-size:.8rem}'\n  + '.lg{margin-right:1rem;white-space:nowrap}.sw{display:inline-block;width:14px;height:14px;border:1px solid #aaa;vertical-align:middle;margin-right:4px}'\n  + '.scroll{overflow-x:auto;border:1px solid #ddd;border-radius:8px}'\n  + 'table{border-collapse:collapse;font-size:.72rem;min-width:100%}'\n  + 'th,td{border:1px solid #e0e0e0;padding:3px 5px;text-align:center;vertical-align:middle}'\n  + 'th.dia{min-width:120px}'\n  + 'td.cab,th.cab{position:sticky;left:0;background:#f0f0f0;font-weight:bold;text-align:left;min-width:90px;z-index:1}'\n  + '.cell{min-width:120px;font-size:.68rem;line-height:1.2;height:20px}'\n  + '.r-mov .f1{font-weight:bold}'\n  + '</style></head>'\n  + '<body>'\n  + '<h1>Calendario de limpieza — Complejo Vita Delta</h1>'\n  + '<div class=\"info\">Datos al ' + esc(ahora) + ' · próximos 7 días · TEST</div>'\n  + '<div class=\"leyenda\">' + leyenda + '</div>'\n  + '<div class=\"scroll\"><table><thead><tr>' + thDias + '</tr></thead><tbody>' + cuerpo + '</tbody></table></div>'\n  + '</body></html>';\n\nreturn [{ json: { ok: true, data: { formato: 'html', html } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -150
      ],
      "id": "52f0360e-ff3e-4b0a-a88a-4a3b0f86d5d4",
      "name": "render envelope"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2420,
        0
      ],
      "id": "a018bd7e-3467-46e7-80c0-98b97eecf93a",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "validar_firma_ts_rol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validar_firma_ts_rol": {
      "main": [
        [
          {
            "node": "leer_ambiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leer_ambiente": {
      "main": [
        [
          {
            "node": "verificar_acceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar_acceso": {
      "main": [
        [
          {
            "node": "IF acceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF acceso": {
      "main": [
        [
          {
            "node": "PG: leer grilla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer grilla": {
      "main": [
        [
          {
            "node": "PG: leer detalle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer detalle": {
      "main": [
        [
          {
            "node": "PG: leer bloqueos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer bloqueos": {
      "main": [
        [
          {
            "node": "PG: leer salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer salidas": {
      "main": [
        [
          {
            "node": "PG: leer limpieza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: leer limpieza": {
      "main": [
        [
          {
            "node": "render envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "render envelope": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}